<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prafta.web.attd.attd03.mapper.Attd03Mapper">

    <update id="updateLeaveType" parameterType="com.prafta.web.attd.attd03.application.command.LeaveTypeCommand">
    /* Attd03Mapper.updateLeaveType */
	INSERT INTO TB_LEAVE_TYPE_MGMT (
		CMPNY_CD
		, LEAVE_CD
		, LEAVE_NO
		, LEAVE_NM
		, LEAVE_TYPE
		, GRANT_TYPE
		, PAID_TYPE
		, LEAVE_NATURE_TYPE
		, USE_YN
		, LEAVE_DESC
		, MAX_APLY_DAYS
		, USE_UNIT_TYPE
		, AVAIL_TERM_TYPE
		, AVAIL_FROM_DT
		, AVAIL_TO_DT
		, GRANT_DAYS
		, ADMIN_AVAIL_TERM_TYPE
		, ADMIN_AVAIL_FROM_DT
		, ADMIN_AVAIL_TO_DT
		, GRANT_BASE_TYPE
		, GRANT_OFFSET_MONTH
		, APRV_USE_YN
		, APRV_STEP_CNT
		, HR_FINAL_APRV_YN
		, EVIDENCE_YN
		, EVIDENCE_GUIDE_MSG
		, INSERT_NO
		, INSERT_DATE
		, UPDATE_NO
		, UPDATE_DATE
	)
	VALUES (
		#{gvCmpnyCd}          -- CMPNY_CD
		, #{leaveCd}           -- LEAVE_CD
		, #{leaveNo}           -- LEAVE_NO
		, #{leaveNm}           -- LEAVE_NM
		, #{leaveType}         -- LEAVE_TYPE
		, #{grantType}         -- GRANT_TYPE
		, #{paidType}          -- PAID_TYPE
		, #{leaveNatureType}   -- LEAVE_NATURE_TYPE
		, #{useYn}             -- USE_YN
		, #{leaveDesc}         -- LEAVE_DESC
		
		, #{maxAplyDays}       -- MAX_APLY_DAYS
		, #{useUnitType}       -- USE_UNIT_TYPE
		, #{availTermType}     -- AVAIL_TERM_TYPE
		, #{availFromDt}       -- AVAIL_FROM_DT
		, #{availToDt}         -- AVAIL_TO_DT
		
		, #{grantDays}         -- GRANT_DAYS
		, #{adminAvailTermType}-- ADMIN_AVAIL_TERM_TYP
		, #{adminAvailFromDt}  -- ADMIN_AVAIL_FROM_DT
		, #{adminAvailToDt}    -- ADMIN_AVAIL_TO_DT
		
		, #{grantBaseType}     -- GRANT_BASE_TYPE
		, #{grantOffsetMonth}  -- GRANT_OFFSET_MONTH
		
		, #{aprvUseYn}         -- APRV_USE_YN
		, #{aprvStepCnt}       -- APRV_STEP_CNT
		, #{hrFinalAprvYn}     -- HR_FINAL_APRV_YN
		
		, #{evidenceYn}        -- EVIDENCE_YN
		, #{evidenceGuideMsg}  -- EVIDENCE_GUIDE_MSG
		
		, #{gvUserCd}         -- INSERT_NO
		, NOW()                      -- INSERT_DATE
		, #{gvUserCd}         -- UPDATE_NO
		, NOW()                      -- UPDATE_DATE
	) AS NEW
	ON DUPLICATE KEY UPDATE
		LEAVE_DESC		  = NEW.LEAVE_DESC
		, USE_YN          = NEW.USE_YN
		, UPDATE_NO       = NEW.UPDATE_NO
		, UPDATE_DATE     = NOW()
    </update>
    
    <select id="selectLeaveCd" parameterType="string" resultType="string">
    /* Attd03Mapper.selectLeaveCd */
    SELECT FNC_CMM_SEQ_NEXTVAL(#{gvCmpnyCd}, 'LEAVE_CD')
    FROM DUAL
    </select>
    
    <select id="selectLeaves" parameterType="com.prafta.web.attd.attd03.application.query.LeaveTypeListQuery" resultType="com.prafta.web.attd.attd03.result.LeaveTypeResult">
    /* Attd03Mapper.selectLeaves */
	SELECT 
		A.CMPNY_CD AS cmpnyCd
		, A.LEAVE_CD AS leaveCd
		, A.LEAVE_NO AS leaveNo
		, A.LEAVE_NM AS leaveNm
		, A.LEAVE_TYPE AS leaveType
		, FNC_CMM_INFO_SRCH(#{gvCmpnyCd}, 'SYST_VAL', A.LEAVE_TYPE, 'SYS021') AS leaveTypeNm
		, A.GRANT_TYPE AS grantType
		, FNC_CMM_INFO_SRCH(#{gvCmpnyCd}, 'SYST_VAL', A.GRANT_TYPE, 'SYS022') AS grantTypeNm
		, A.PAID_TYPE AS paidType
		, FNC_CMM_INFO_SRCH(#{gvCmpnyCd}, 'SYST_VAL', A.PAID_TYPE, 'SYS023') AS paidTypeNm
		, A.LEAVE_NATURE_TYPE AS leaveNatureType
		, FNC_CMM_INFO_SRCH(#{gvCmpnyCd}, 'SYST_VAL', A.LEAVE_NATURE_TYPE, 'SYS024') AS leaveNatureTypeNm
		, A.LEAVE_DAYS AS leaveDays
		, A.USE_UNIT_TYPE AS useUnitType
		, FNC_CMM_INFO_SRCH(#{gvCmpnyCd}, 'SYST_VAL', A.USE_UNIT_TYPE, 'SYS025') AS useUnitTypeNm
		, A.AVAIL_TERM_TYPE AS availTermType
		, FNC_CMM_INFO_SRCH(#{gvCmpnyCd}, 'SYST_VAL', A.AVAIL_TERM_TYPE, 'SYS026') AS availTermTypeNm
		, A.AVAIL_PERIOD AS availPeriod
		, A.USE_YN AS useYn
		, A.LEAVE_DESC AS leaveDesc
		, A.GRANT_BASE_TYPE	AS grantBaseType
		, FNC_CMM_INFO_SRCH(#{gvCmpnyCd}, 'SYST_VAL', A.GRANT_BASE_TYPE, 'SYS027') AS grantBaseTypeNm
		, A.GRANT_OFFSET_MONTH AS grantOffsetMonth
		
		, A.APRV_USE_YN	AS aprvUseYn
		, A.APRV_STEP_CNT AS aprvStepCnt
		, A.HR_FINAL_APRV_YN AS hrFinalAprvYn
		, A.EVIDENCE_YN AS evidenceYn
		, A.EVIDENCE_GUIDE_MSG AS evidenceGuideMsg
	FROM 
	(	
	    SELECT 
			A.CMPNY_CD
			, A.LEAVE_CD
			, A.LEAVE_NO
			, A.LEAVE_NM
			, A.LEAVE_TYPE
			, A.GRANT_TYPE
			, A.PAID_TYPE
			, A.LEAVE_NATURE_TYPE
			, CASE 
				WHEN A.LEAVE_TYPE = '01'
					THEN A.MAX_APLY_DAYS
				WHEN A.LEAVE_TYPE = '02'
					THEN A.GRANT_DAYS
			END LEAVE_DAYS
			, A.USE_UNIT_TYPE
			, CASE 
				WHEN A.LEAVE_TYPE = '01'
					THEN A.AVAIL_TERM_TYPE
				WHEN A.LEAVE_TYPE = '02'
					THEN A.ADMIN_AVAIL_TERM_TYPE
			END AVAIL_TERM_TYPE
			, CASE 
				WHEN A.LEAVE_TYPE = '01'
					THEN CONCAT(A.AVAIL_FROM_DT, '~', A.AVAIL_TO_DT)
				WHEN A.LEAVE_TYPE = '02'
					THEN CONCAT(A.ADMIN_AVAIL_FROM_DT, '~', A.ADMIN_AVAIL_TO_DT)
			END AVAIL_PERIOD
			, A.USE_YN
			, A.LEAVE_DESC
			
			, A.GRANT_BASE_TYPE
            , A.GRANT_OFFSET_MONTH
            
            , A.APRV_USE_YN
            , A.APRV_STEP_CNT
            , A.HR_FINAL_APRV_YN
            , A.EVIDENCE_YN
            , A.EVIDENCE_GUIDE_MSG
		FROM TB_LEAVE_TYPE_MGMT A
		WHERE A.CMPNY_CD = #{gvCmpnyCd}
		  <if test="leaveNo != null and leaveNo != ''">
		  	AND A.LEAVE_NO = #{leaveNo}
		  </if>
		  
		  <if test="leaveNm != null and leaveNm != ''">
		  	AND A.LEAVE_NM LIKE CONCAT('%', #{leaveNm}, '%')
		  </if>
		  
		  <if test="leaveType != null and leaveType != ''">
		  	AND A.LEAVE_TYPE = #{leaveType}
		  </if>
		  
		  <if test="useYn != null and useYn != ''">
		  	AND A.USE_YN = #{useYn}
		  </if>
		  
	) A
    </select>


	<select id="selectLeaveNoDupChkResult" parameterType="com.prafta.web.attd.attd03.application.query.LeaveNoDupCheckQuery" resultType="com.prafta.web.attd.attd03.vo.LeaveNoDupChk">
    /* Attd03Mapper.selectLeaveNoDupChkResult */
    SELECT 
    	A.CMPNY_CD 		AS cmpnyCd
    	, A.LEAVE_CD	AS leaveCd
    	, A.LEAVE_NO	AS leaveNo
    	, A.LEAVE_NM	AS leaveNm
    FROM TB_LEAVE_TYPE_MGMT A
    WHERE A.CMPNY_CD = #{gvCmpnyCd}
      AND A.LEAVE_NO = #{leaveNo}
    LIMIT 1
    </select>

</mapper>