<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prafta.web.chkLst.chkLst02.mapper.ChkLst02Mapper">

    <select id="selectChkptInspectItemList" parameterType="com.prafta.web.chkLst.chkLst02.application.query.ChkptInspectItemListQuery" resultType="com.prafta.web.chkLst.chkLst02.result.ChkptInspectItemResult">
    /* ChkLst01Mapper.selectChkptInspectItemList */
	SELECT 
		'' 						AS chk
		, A.CMPNY_CD			AS cmpnyCd
	    , A.CHKLST_TYPE			AS chkLstType
	    , A.INSPECT_ITEM_CD		AS inspectItemCd
	    , A.INSPECT_ITEM_SUBJ	AS inspectItemSubj
	    , A.SORT_IDX			AS sortIdx
	    , A.STR_DATE			AS strDate
	    , A.USE_YN				AS useYn
	FROM TB_CHKPT_INSPECT_ITEM A
	WHERE 1=1
	  AND A.CMPNY_CD = #{gvCmpnyCd}
   	  <if test="codeCd != null and codeCd != ''">
   	  	AND A.CHKLST_TYPE = #{codeCd}
   	  </if>
	ORDER BY CHKLST_TYPE, SORT_IDX
	</select>
	
	<insert id="mergeChkptInspectItemList" parameterType="com.prafta.web.chkLst.chkLst02.application.command.ChkptInspectItemCommand">
	/* ChkLst01Mapper.mergeChkptInspectItemList */	
    INSERT INTO TB_CHKPT_INSPECT_ITEM (
    	CMPNY_CD
    	, CHKLST_TYPE
    	, INSPECT_ITEM_CD
    	, INSPECT_ITEM_SUBJ
    	, SORT_IDX
    	, STR_DATE
    	, USE_YN
    	, INSERT_NO
    	, INSERT_DATE
    	, UPDATE_NO
    	, UPDATE_DATE
   	)
   	VALUES(
   		#{gvCmpnyCd}
   		, #{chkLstType}
   		, IFNULL(
   			#{inspectItemCd}
   			, CONCAT(
   				'DCHK'
   				, '_'
   				, CAST(#{chkLstType} AS UNSIGNED)
   				, '_'
   				, FNC_CMM_SEQ_NEXTVAL(#{gvCmpnyCd}, CONCAT('COM001-', #{chkLstType})))
 			)
   		, #{inspectItemSubj}
   		, #{sortIdx}
   		, SUBSTRING(REPLACE(#{strDate}, '-', ''), 1, 6)
   		, #{useYn}
		, #{gvUserCd}
		, now()
		, #{gvUserCd}
		, now() 
   	) AS NEW
   	ON DUPLICATE KEY UPDATE
   		INSPECT_ITEM_SUBJ = NEW.INSPECT_ITEM_SUBJ
   		, SORT_IDX		  = NEW.SORT_IDX
    	, STR_DATE		  = NEW.STR_DATE
    	, USE_YN		  = IFNULL(NEW.USE_YN, 'Y')
    	, UPDATE_NO		  = NEW.UPDATE_NO
    	, UPDATE_DATE	  = NOW()
	</insert>
	
	<insert id="updateChkptInspectItemList" parameterType="com.prafta.web.chkLst.chkLst02.application.command.ChkptInspectItemCommand">
	/* ChkLst01Mapper.updateChkptInspectItemList */
	UPDATE TB_CHKPT_INSPECT_ITEM
	SET 
		USE_YN = 'N'
		, UPDATE_NO = #{gvUserCd}
		, UPDATE_DATE = now()
	WHERE 1=1
	  AND CMPNY_CD = #{gvCmpnyCd}
	  AND CHKLST_TYPE = #{chkLstType}
	  AND INSPECT_ITEM_CD = #{inspectItemCd}
	</insert>
</mapper>