<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/prafta-backend/src/main/java/com/prafta/MainApplication.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="HOLIDAY_API_SERVICE_KEY" value="25163b2af0791ddedae92cfbb1cde7ee5868c401517b71362e05ee65d2d7957e"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.prafta.MainApplication"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="prafta-backend"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="prafta-backend"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dspring.profiles.active=local"/>
</launchConfiguration>
