<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prafta.web.baim.baim02.mapper.Baim02Mapper">

    <select id="selectCompCmmCodeMList" parameterType="com.prafta.web.baim.baim02.dto.Baim02ReqDto" resultType="map">
    /* Baim02Mapper.selectCompCmmCodeMList */
    SELECT
    	CMPNY_CD
    	, BAIM_VAL_CD
    	, BAIM_VAL_NM
    	, USE_YN
    	, VAL_INFO_1
    	, VAL_INFO_2
    	, VAL_DESC
    	, INSERT_NO
    	, INSERT_DATE
    	, UPDATE_NO
    	, UPDATE_DATE
   	FROM TB_BAIM_VAL_M
   	WHERE 1=1
   	  AND CMPNY_CD = #{token.gv_cmpnyCd}
   	  AND USE_YN = 'Y'
   	  <if test="param.sr_codeNm != null and param.sr_codeNm != ''">
   	  	AND BAIM_VAL_NM LIKE CONCAT('%', #{param.sr_codeNm}, '%')
   	  </if>
	</select>
	
	<select id="selectCompCmmCodeDList" parameterType="com.prafta.web.baim.baim02.dto.Baim02ReqDto" resultType="com.prafta.web.baim.baim02.dto.Baim02">
    /* Baim02Mapper.selectCompCmmCodeDList */
    SELECT
    	'' AS CHK
    	, A.CMPNY_CD
    	, A.BAIM_VAL_CD
    	, B.BAIM_VAL_D_CD
    	, B.BAIM_VAL_D_NM AS baimValDNm
    	, B.SORT_IDX
    	, B.USE_YN
    	, B.VAL_D_INFO_1
    	, B.VAL_D_INFO_2
    	, B.VAL_D_DESC
    	, B.INSERT_NO
    	, B.INSERT_DATE
    	, B.UPDATE_NO
    	, B.UPDATE_DATE
   	FROM TB_BAIM_VAL_M A
   		 INNER JOIN TB_BAIM_VAL_D B
   		 	ON (
   		 		A.CMPNY_CD = B.CMPNY_CD
 		 	AND A.BAIM_VAL_CD = B.BAIM_VAL_CD
 		 	AND B.USE_YN = 'Y'
   		 	)
   	WHERE 1=1
   	  AND A.CMPNY_CD = #{token.gv_cmpnyCd}
   	  AND A.USE_YN = 'Y'
   	  AND A.BAIM_VAL_CD = #{param.sr_codeCd}
	</select>
	
	<insert id="mergeCmmCodeDetailInfo">
	/* Baim02Mapper.mergeCmmCodeDetailInfo */	
    INSERT INTO TB_BAIM_VAL_D (
    	CMPNY_CD
    	, BAIM_VAL_CD
    	, BAIM_VAL_D_CD
    	, BAIM_VAL_D_NM
    	, SORT_IDX
    	, USE_YN
    	, VAL_D_INFO_1
    	, VAL_D_INFO_2
    	, VAL_D_DESC
    	, INSERT_NO
    	, INSERT_DATE
    	, UPDATE_NO
    	, UPDATE_DATE
   	)
   	VALUES(
   		#{token.gv_cmpnyCd}
   		, #{param.baimValCd}
   		, IFNULL(#{param.baimValDCd}, FNC_CMM_SEQ_NEXTVAL(#{token.gv_cmpnyCd}, 'COM001'))
   		, #{param.baimValDNm}
   		, #{param.sortIdx}
		, #{param.useYn}
		, #{param.valDInfo1}
		, #{param.valDInfo2}
		, #{param.valDDesc}
		, #{token.gv_userId}
		, now()
		, #{token.gv_userId}
		, now() 
   	)
   	ON DUPLICATE KEY UPDATE
	    USE_YN     		= VALUES(USE_YN)
	    , BAIM_VAL_D_NM = VALUES(BAIM_VAL_D_NM)
	    , SORT_IDX		= VALUES(SORT_IDX)
	    , USE_YN		= IFNULL(USE_YN, 'Y')
	    , VAL_D_INFO_1	= VALUES(VAL_D_INFO_1)
    	, VAL_D_INFO_2	= VALUES(VAL_D_INFO_2)
    	, VAL_D_DESC	= VALUES(VAL_D_DESC)
	    , UPDATE_NO   	= #{token.gv_userId}
	    , UPDATE_DATE 	= NOW()
	</insert>
	
	<update id="deleteCmmCodeDetailInfo">
	/* Baim02Mapper.mergeCmmCodeDetailInfo */
	UPDATE TB_BAIM_VAL_D 
	SET USE_YN = 'N'
		, UPDATE_NO = #{token.gv_userId}
		, UPDATE_DATE = now()
	WHERE CMPNY_CD = #{token.gv_cmpnyCd}
	  AND BAIM_VAL_CD = #{param.baimValCd}
	  AND BAIM_VAL_D_CD = #{param.baimValDCd}
	
	</update>
</mapper>