<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prafta.web.attd.attd01.mapper.Attd01Mapper">

    <select id="selectSchInfoList" parameterType="com.prafta.web.attd.attd01.application.query.SchInfoListQuery" resultType="com.prafta.web.attd.attd01.result.SchInfoResult">
    /* Attd01Mapper.selectSchInfoList */
    SELECT
	    A.CMPNY_CD          		AS cmpnyCd
	    , A.SITE_CD           		AS siteCd
	    , A.SCH_CD            		AS schCd
	    , A.SCH_NO            		AS schNo
	    , A.SCH_TYPE          		AS schType
	    , FNC_CMM_INFO_SRCH(
	    	A.CMPNY_CD
	    	, 'SYST_VAL'
	    	, A.SCH_TYPE
	    	, 'SYS019' 
    	) 							AS schTypeNm
    	, IFNULL(A.BASE_YN, 'N')	AS baseYn
    	, FNC_CMM_INFO_SRCH(
	    	A.CMPNY_CD
	    	, 'SYST_VAL'
	    	, IFNULL(A.BASE_YN, 'N')
	    	, 'SYS003'
    	) 							AS baseYnNm
    	
    	
	    , A.APPLY_DATE				AS applyDate

	    , A.FST_SCH_STR_TIME  		AS fstSchStrTime
	    , A.FST_SCH_END_TIME		AS fstSchEndTime
	    , CONCAT(
	    	A.FST_SCH_STR_TIME
	    	, '-'
	    	, A.FST_SCH_END_TIME
    	) 							AS fstSchTime
	    , A.FST_SCH_BRK_MIN  		AS fstSchBrkMin

	    , A.SEC_SCH_STR_TIME  		AS secSchStrTime
	    , A.SEC_SCH_END_TIME  		AS secSchEndTime
	    , CONCAT(
	    	A.SEC_SCH_STR_TIME
	    	, '-'
	    	, A.SEC_SCH_END_TIME
    	) 							AS secSchTime
	    , A.SEC_SCH_BRK_MIN  		AS secSchBrkMin
	    
	    , A.USE_YN            		AS useYn
	    , FNC_CMM_INFO_SRCH(
	    	A.CMPNY_CD
	    	, 'SYST_VAL'
	    	, A.USE_YN
	    	, 'SYS003'
    	) 							AS useYnNm
	FROM TB_SCH_MGMT A
	WHERE 1=1
	  AND A.CMPNY_CD = #{gvCmpnyCd}
	  <if test="siteCd != null and siteCd != ''">
	  	AND A.SITE_CD = #{siteCd}
	  </if>
	  <if test="schNo != null and schNo != ''">
	  	AND A.SCH_NO = #{schNo}	
	  </if>
	  <if test="useYn != null and useYn != ''">
	  	AND A.USE_YN  = #{useYn}
	  </if>
	</select>
	
	<select id="selectSchNoCount" parameterType="com.prafta.web.attd.attd01.application.query.SchNoCountQuery" resultType="int">
    /* Attd01Mapper.selectSchNoCount */
    SELECT 
    	COUNT(*)
	FROM TB_SCH_MGMT
	WHERE CMPNY_CD = #{gvCmpnyCd}
	  AND SITE_CD = #{siteCd}
	  AND SCH_NO = #{schNo}
    </select>
	
	<select id="selectSchCd" parameterType="com.prafta.web.attd.attd01.application.query.SchCdQuery" resultType="string">
    /* Attd01Mapper.selectSchCd */
    SELECT FNC_CMM_SEQ_NEXTVAL(#{gvCmpnyCd}, CONCAT('SCH_CD-', #{siteCd}))
    FROM DUAL
    </select>
	
	<update id="updateSchInfo" parameterType="com.prafta.web.attd.attd01.application.command.SchInfoCommand">
    /* Attd01Mapper.updateSchInfo */
    INSERT INTO prafta.TB_SCH_MGMT (
        CMPNY_CD
        , SITE_CD
        , SCH_CD
        , SCH_NO
        , SCH_TYPE
        , APPLY_DATE
		
        , FST_SCH_STR_TIME
        , FST_SCH_END_TIME
        , FST_SCH_BRK_MIN
		
        , SEC_SCH_STR_TIME
        , SEC_SCH_END_TIME
        , SEC_SCH_BRK_MIN
		
        , USE_YN
        , INSERT_NO
        , INSERT_DATE
        , UPDATE_NO
        , UPDATE_DATE
    )
    VALUES (
        #{gvCmpnyCd}
        , #{siteCd}
        , #{schCd}
        , #{schNo}
        , #{schType}
        , REPLACE(#{applyDate}, '-', '')
		
        , REPLACE(#{fstSchStrTime}, ':', '')
        , REPLACE(#{fstSchEndTime}, ':', '')
        , #{fstSchBrkMin}
		
        , REPLACE(IFNULL(#{secSchStrTime}, ''), ':', '')
        , REPLACE(IFNULL(#{secSchEndTime}, ''), ':', '')
        , IFNULL(#{secSchBrkMin}, '0')
		
        , IFNULL(#{useYn}, 'Y')
        , #{gvUserCd}
        , NOW()
        , #{gvUserCd}
        , NOW()
    ) AS NEW
    ON DUPLICATE KEY UPDATE
        SCH_NO          	= NEW.SCH_NO
        , SCH_TYPE        	= NEW.SCH_TYPE
        , APPLY_DATE      	= NEW.APPLY_DATE

        , FST_SCH_STR_TIME	= NEW.FST_SCH_STR_TIME
        , FST_SCH_END_TIME	= NEW.FST_SCH_END_TIME
        , FST_SCH_BRK_MIN 	= NEW.FST_SCH_BRK_MIN

        , SEC_SCH_STR_TIME	= NEW.SEC_SCH_STR_TIME
        , SEC_SCH_END_TIME	= NEW.SEC_SCH_END_TIME
        , SEC_SCH_BRK_MIN 	= NEW.SEC_SCH_BRK_MIN

        , USE_YN          	= NEW.USE_YN
        , UPDATE_NO       	= NEW.UPDATE_NO
        , UPDATE_DATE     	= NOW()
	</update>
	
	<select id="selectSchHistIdx" parameterType="com.prafta.web.attd.attd01.application.query.SchInfoHistQuery" resultType="int">
    /* Attd01Mapper.selectSchHistIdx */
    SELECT COUNT(*)
	FROM TB_SCH_MGMT_HIST A
	WHERE A.CMPNY_CD = #{gvCmpnyCd}
	  AND A.SITE_CD = #{siteCd}
	  AND A.SCH_CD = #{schCd}   
    </select>
    
    <insert id="insertSchHistInfo" parameterType="com.prafta.web.attd.attd01.application.command.SchInfoHistCommand">
    /* Attd01Mapper.insertSchHistInfo */
    INSERT INTO TB_SCH_MGMT_HIST (
        CMPNY_CD
        , SITE_CD
        , HIST_IDX
        , SCH_CD
        , APPLY_DATE
		
        , FST_SCH_STR_TIME
        , FST_SCH_END_TIME
        , FST_SCH_BRK_MIN
		
        , SEC_SCH_STR_TIME
        , SEC_SCH_END_TIME
        , SEC_SCH_BRK_MIN
		
        , USE_YN
        , INSERT_NO
        , INSERT_DATE
    )
    VALUES (
        #{gvCmpnyCd}
        , #{siteCd}
        , #{histIdx}
        , #{schCd}
        , REPLACE(#{applyDate}, '-', '')
		
        , REPLACE(#{fstSchStrTime}, ':', '')
        , REPLACE(#{fstSchEndTime}, ':', '')
        , #{fstSchBrkMin}
		
        , REPLACE(IFNULL(#{secSchStrTime}, ''), ':', '')
        , REPLACE(IFNULL(#{secSchEndTime}, ''), ':', '')
        , IFNULL(#{secSchBrkMin}, '0')
		
        , IFNULL(#{useYn}, 'Y')
        , #{gvUserCd}
        , NOW()
    )
    </insert>
    
    <select id="selectSchHistList" parameterType="com.prafta.web.attd.attd01.application.query.SchInfoHistQuery" resultType="com.prafta.web.attd.attd01.result.SchHistResult">
    /* Attd01Mapper.selectSchHistList */
	SELECT 
		A.CMPNY_CD									AS cmpnyCd
	    , A.SITE_CD									AS siteCd
	    , A.HIST_IDX								AS histIdx
	    , A.SCH_CD									AS schCd
	    , DATE_FORMAT(A.APPLY_DATE, '%Y-%m-%d')		AS applyDate
	
	    , CONCAT(
			A.FST_SCH_STR_TIME
	        , '-'
	        , A.FST_SCH_END_TIME
		)											AS fstSchTime
	    , A.FST_SCH_BRK_MIN							AS fstSchBrkMin
	
	    , CONCAT(
			A.SEC_SCH_STR_TIME
	        , '-'
	        , A.SEC_SCH_END_TIME
		)											AS secSchTime
	    , A.SEC_SCH_BRK_MIN							AS secSchBrkMin
	
	    , A.USE_YN									AS useYn
	    , A.INSERT_NO								AS userId
	    , B.USER_NM									AS userNm
	    , DATE_FORMAT(A.INSERT_DATE, '%Y-%m-%d')	AS insertDate
	FROM TB_SCH_MGMT_HIST A
		 INNER JOIN TB_USER B
			ON (
				A.INSERT_NO = B.USER_ID
	        )
	WHERE A.CMPNY_CD = #{gvCmpnyCd}
	  AND A.SITE_CD = #{siteCd}
	  AND A.SCH_CD = #{schCd}
	ORDER BY A.CMPNY_CD, A.SITE_CD, A.HIST_IDX
    </select>
    
    <select id="selectShiftSchNoCount" parameterType="com.prafta.web.attd.attd01.application.query.ShiftSchNoCountQuery" resultType="int">
    /* Attd01Mapper.selectShiftSchNoCount */
    SELECT COUNT(*)
	FROM TB_SHIFT_SCH_MGMT
	WHERE CMPNY_CD = #{gvCmpnyCd}
	  AND SITE_CD = #{siteCd}
	  AND SHIFT_NO = #{shiftNo}
    </select>
    
    <select id="selectShiftCd" parameterType="com.prafta.web.attd.attd01.application.query.ShiftCdQuery" resultType="string">
    /* Attd01Mapper.selectShiftCd */
    SELECT FNC_CMM_SEQ_NEXTVAL(#{gvCmpnyCd}, CONCAT('SHIFT_CD-', #{siteCd}))
    FROM DUAL
    </select>
    
    <insert id="insertShiftSch" parameterType="com.prafta.web.attd.attd01.application.command.ShiftTypeCommand">
    /* Attd01Mapper.insertShiftSch */
    INSERT TB_SHIFT_SCH_MGMT (
		CMPNY_CD
		, SITE_CD
		, SHIFT_CD
		, SHIFT_NO
		
		, SHIFT_PTRN_CNT
		, SHIFT_TEAM_CNT
		, SHIFT_CYCLE_DAYS
		, USE_YN
		
		, INSERT_NO
		, INSERT_DATE
		, UPDATE_NO
		, UPDATE_DATE
	)
	VALUES (
		#{gvCmpnyCd}
		, #{siteCd}
		, #{shiftCd}
		, #{shiftNo}
		
		, #{shiftPtrnCnt}
		, #{shiftTeamCnt}
		, #{shiftCycleDays}
		, #{useYn}
		
		, #{gvUserCd}
		, NOW()
		, #{gvUserCd}
		, NOW()
	)
    </insert>
    
    <insert id="insertShiftSchPtrn" parameterType="com.prafta.web.attd.attd01.application.command.ShiftPatternCommand">
    /* Attd01Mapper.insertShiftSchPtrn */
    INSERT TB_SHIFT_SCH_PTRN_MGMT (
		CMPNY_CD
		, SITE_CD
		, SHIFT_CD
		, PTRN_IDX
		, SCH_CD
		
		, INSERT_NO
		, INSERT_DATE
		, UPDATE_NO
		, UPDATE_DATE
	)
	VALUES (
		#{gvCmpnyCd}
		, #{siteCd}
		, #{shiftCd}
		, #{ptrnIdx}
		, #{schCd}
		
		, #{gvUserCd}
		, NOW()
		, #{gvUserCd}
		, NOW()
	)
    </insert>
    
    <insert id="insertShiftSchTeam" parameterType="com.prafta.web.attd.attd01.application.command.ShiftTeamCommand">
    /* Attd01Mapper.insertShiftSchTeam */
    INSERT TB_SHIFT_SCH_TEAM_META_INFO (
		CMPNY_CD
		, SITE_CD
		, SHIFT_CD
		, TEAM_IDX
		, TEAM_NM
		
		, INSERT_NO
		, INSERT_DATE
		, UPDATE_NO
		, UPDATE_DATE
	)
	VALUES (
		#{gvCmpnyCd}
		, #{siteCd}
		, #{shiftCd}
		, #{teamIdx}
		, #{teamNm}
		
		, #{gvUserCd}
		, NOW()
		, #{gvUserCd}
		, NOW()
	)
    </insert>
    
    <insert id="insertShiftSchAssign" parameterType="com.prafta.web.attd.attd01.application.command.ShiftAssignCommand">
    /* Attd01Mapper.insertShiftSchAssign */
    INSERT TB_SHIFT_SCH_ASSIGN_MGMT (
		CMPNY_CD
		, SITE_CD
		, SHIFT_CD
		
		, TEAM_IDX
		, DAY_NO
		, ASSIGN_YN
		, SCH_CD
		
		, INSERT_NO
		, INSERT_DATE
		, UPDATE_NO
		, UPDATE_DATE
	)
	VALUES (
		#{gvCmpnyCd}
		, #{siteCd}
		, #{shiftCd}
		
		, #{teamIdx}
		, #{dayNo}
		, #{assignYn}
		, #{schCd}
		
		, #{gvUserCd}
		, NOW()
		, #{gvUserCd}
		, NOW()
	)
    </insert>
    
    <select id="selectShiftSchInfoList" parameterType="com.prafta.web.attd.attd01.application.query.ShiftSchInfoListQuery" resultType="com.prafta.web.attd.attd01.result.ShiftSchInfoResult">
    /* Attd01Mapper.selectShiftSchInfoList */
	SELECT
		A.CMPNY_CD													AS cmpnyCd
		, A.SITE_CD													AS siteCd
		, A.SHIFT_CD												AS shiftCd
		, A.SHIFT_NO												AS shiftNo
		, A.SHIFT_PTRN_CNT											AS shiftPtrnCnt
		, A.SHIFT_TEAM_CNT											AS shiftTeamCnt
		, A.SHIFT_CYCLE_DAYS										AS shiftCycleDays
		, '0' 														AS regUserCnt
		, A.USE_YN													AS useYn
		, GROUP_CONCAT(B.SCH_NM ORDER BY B.DAY_NO SEPARATOR ' / ') 	AS schNmList
	FROM TB_SHIFT_SCH_MGMT A
		 INNER JOIN (
			SELECT 
				A.CMPNY_CD
				, A.SITE_CD
				, A.SHIFT_CD
	            , A.TEAM_IDX
	            , A.DAY_NO
				, A.SCH_CD
				,IFNULL(CONCAT(B.SCH_NO, '(', B.FST_SCH_STR_TIME, '~', B.FST_SCH_END_TIME, ')'), 'OFF') SCH_NM
			FROM TB_SHIFT_SCH_ASSIGN_MGMT A
				 LEFT OUTER JOIN TB_SCH_MGMT B
					ON (
						A.CMPNY_CD = B.CMPNY_CD
					AND A.SITE_CD = B.SITE_CD
					AND A.SCH_CD = B.SCH_CD
					)
			WHERE A.TEAM_IDX = '1'
	     ) B
			ON (
				A.CMPNY_CD = B.CMPNY_CD
			AND A.SITE_CD  = B.SITE_CD
			AND A.SHIFT_CD = B.SHIFT_CD
	        )
	WHERE 1=1
		AND A.CMPNY_CD = #{gvCmpnyCd}
	  <if test="siteCd != null and siteCd != ''">
	  	AND A.SITE_CD = #{siteCd}
	  </if>
	   <if test="shiftNo != null and shiftNo != ''">
	   	AND A.SHIFT_NO = #{shiftNo}
	  </if>
	  <if test="shiftCycleDays != null and shiftCycleDays != ''">
	  	AND A.SHIFT_CYCLE_DAYS = #{shiftCycleDays}
	  </if>
	  <if test="useYn != null and useYn != ''">
	  	AND A.USE_YN = #{USE_YN}
	  </if>
	GROUP BY
		A.CMPNY_CD
		, A.SITE_CD
		, A.SHIFT_CD
		, A.SHIFT_NO
		, A.SHIFT_PTRN_CNT
		, A.SHIFT_TEAM_CNT
		, A.SHIFT_CYCLE_DAYS
		, A.USE_YN
    </select>
    
    <select id="selectShiftTypeInfoList" parameterType="com.prafta.web.attd.attd01.application.query.ShiftSchDetailQuery" resultType="com.prafta.web.attd.attd01.result.ShiftTypeInfoResult">
    /* Attd01Mapper.selectShiftTypeInfoList */
	SELECT 
		A.CMPNY_CD           AS cmpnyCd
		, A.SITE_CD          AS siteCd
		, A.SHIFT_CD         AS shiftCd
		, A.SHIFT_NO         AS shiftNo
		, A.SHIFT_PTRN_CNT   AS shiftPtrnCnt
		, A.SHIFT_TEAM_CNT   AS shiftTeamCnt
		, A.SHIFT_CYCLE_DAYS AS shiftCycleDays
		, A.USE_YN           AS useYn
	FROM TB_SHIFT_SCH_MGMT A
	WHERE A.CMPNY_CD = #{gvCmpnyCd}
	  AND A.SITE_CD  = #{siteCd}
	  AND A.SHIFT_CD = #{shiftCd}
    </select>
    
    <select id="selectShiftPatternInfoList" parameterType="com.prafta.web.attd.attd01.application.query.ShiftSchDetailQuery" resultType="com.prafta.web.attd.attd01.result.ShiftPatternInfoResult">
    /* Attd01Mapper.selectShiftPatternInfoList */
    SELECT 
		A.CMPNY_CD     AS cmpnyCd
		, A.SITE_CD    AS siteCd
		, A.SHIFT_CD   AS shiftCd
		, A.PTRN_IDX   AS ptrnIdx
		, A.SCH_CD     AS schCd
	FROM TB_SHIFT_SCH_PTRN_MGMT A
	WHERE A.CMPNY_CD = #{gvCmpnyCd}
	  AND A.SITE_CD  = #{siteCd}
	  AND A.SHIFT_CD = #{shiftCd}
    </select>
    
    <select id="selectShiftTeamInfoList" parameterType="com.prafta.web.attd.attd01.application.query.ShiftSchDetailQuery" resultType="com.prafta.web.attd.attd01.result.ShiftTeamInfoResult">
    /* Attd01Mapper.selectShiftTeamInfoList */
	SELECT 
		A.CMPNY_CD     AS cmpnyCd
		, A.SITE_CD    AS siteCd
		, A.SHIFT_CD   AS shiftCd
		, A.TEAM_IDX   AS teamIdx
		, A.TEAM_NM    AS teamNm
	FROM TB_SHIFT_SCH_TEAM_META_INFO A
	WHERE A.CMPNY_CD = #{gvCmpnyCd}
	  AND A.SITE_CD  = #{siteCd}
	  AND A.SHIFT_CD = #{shiftCd}
    </select>
    
    <select id="selectShiftAssignInfoList" parameterType="com.prafta.web.attd.attd01.application.query.ShiftSchDetailQuery" resultType="com.prafta.web.attd.attd01.result.ShiftAssignInfoResult">
    /* Attd01Mapper.selectShiftAssignInfoList */
	SELECT 
		A.CMPNY_CD     AS cmpnyCd
		, A.SITE_CD    AS siteCd
		, A.SHIFT_CD   AS shiftCd
		, A.TEAM_IDX   AS teamIdx
		, A.DAY_NO     AS dayNo
		, A.ASSIGN_YN  AS assignYn
		, A.SCH_CD     AS schCd
	FROM TB_SHIFT_SCH_ASSIGN_MGMT A
	WHERE A.CMPNY_CD = #{gvCmpnyCd}
	  AND A.SITE_CD  = #{siteCd}
	  AND A.SHIFT_CD = #{shiftCd}
    </select>
</mapper>