<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prafta.common.cmm.baseinfo.mapper.BaseinfoMapper">

    <select id="selectSystinfoList" parameterType="com.prafta.common.cmm.baseinfo.application.query.SystInfoListQuery" resultType="com.prafta.common.cmm.baseinfo.result.SystInfoResult">
    /* BaseinfoMapper."selectSystinfoList" */
    SELECT
    	A.SYST_VAL_CD			AS systValCd
		, A.SYST_VAL_NM			AS systValNm
		, A.SORT_IDX			AS sortIdx
		, A.SYST_VAL_D_CD		AS systValDCd
		, A.SYST_VAL_D_NM		AS systValDNm
   	FROM
   	(
	    SELECT 
			A.SYST_VAL_CD
		    , A.SYST_VAL_NM
		    , B.SORT_IDX AS SORT_IDX
		    , B.SYST_VAL_D_CD
		    , B.SYST_VAL_D_NM
		FROM TB_SYST_VAL_M A 
			 INNER JOIN TB_SYST_VAL_D B
			 	ON (
			 		A.SYST_VAL_CD = B.SYST_VAL_CD
			 		<!-- 
		 		AND (B.VAL_D_INFO_1 != 'S' OR B.VAL_D_INFO_1 IS NULL)
		 		 -->
			 	)
		WHERE 1=1
		  <if test="systCodeList != null and systCodeList != ''">
		  	AND A.SYST_VAL_CD IN
		  	<foreach collection="systCodeList" item="item" open="(" separator="," close=")">
		  		#{item}
		  	</foreach>
		  </if>
		  AND A.USE_YN = 'Y'
		  AND A.USE_YN = B.USE_YN
		  
		UNION ALL
		
		SELECT 
		    A.SYST_VAL_CD
		    , A.SYST_VAL_NM
		    , 0 AS SORT_IDX
		    , NULL AS SYST_VAL_D_CD
		    , '전체' AS SYST_VAL_D_NM
		FROM TB_SYST_VAL_M A
		WHERE 1=1
		  AND A.USE_YN = 'Y'
		  <if test="systCodeList != null and systCodeList != ''">
		  	AND A.SYST_VAL_CD IN
		  	<foreach collection="systCodeList" item="item" open="(" separator="," close=")">
		  		#{item}
		  	</foreach>
		  </if>
	) A
	WHERE 1=1		
	ORDER BY A.SYST_VAL_CD, A.SORT_IDX, A.SYST_VAL_D_CD
    </select>

    <select id="selectSystinfo" parameterType="com.prafta.common.cmm.baseinfo.application.query.SystInfoQuery" resultType="com.prafta.common.cmm.baseinfo.result.SystInfoResult">
    /* BaseinfoMapper."selectSystinfo" */
    SELECT 
		A.SYST_VAL_CD						AS systValCd
	    , A.SYST_VAL_NM						AS systValNm
	    , B.SORT_IDX 						AS sortIdx		
	    , B.SYST_VAL_D_CD					AS systValDCd
	    , B.SYST_VAL_D_NM					AS systValDNm
	FROM TB_SYST_VAL_M A 
		 INNER JOIN TB_SYST_VAL_D B
		 	ON (
		 		A.SYST_VAL_CD = B.SYST_VAL_CD
	 		AND A.USE_YN = B.USE_YN
 			<if test="codeD != null and codeD != ''">
				AND B.SYST_VAL_D_CD = #{codeD}
			</if>
			<if test="nameD != null and nameD != ''">
				AND B.SYST_VAL_D_NM LIKE CONCAT('%', #{nameD}, '%')
			</if>
		 	)
	WHERE 1=1
	  AND A.USE_YN = 'Y'
	  <if test="code != null and code != ''">
		AND A.SYST_VAL_CD = #{code}
	  </if>
	ORDER BY A.SYST_VAL_CD, B.SORT_IDX, B.SYST_VAL_D_CD
    </select> 
    
    <select id="selectBaseinfoList" parameterType="com.prafta.common.cmm.baseinfo.application.query.BaseInfoListQuery" resultType="com.prafta.common.cmm.baseinfo.result.BaseInfoResult">
    /* BaseinfoMapper."selectBaseinfoList" */
    SELECT
    	A.BAIM_VAL_CD				AS baimValCd
		, A.BAIM_VAL_NM				AS baimValNm
		, A.SORT_IDX				AS sortIdx
		, A.BAIM_VAL_D_CD			AS baimValDCd
		, A.BAIM_VAL_D_NM			AS baimBalDNm
   	FROM
   	(
	    SELECT 
			A.BAIM_VAL_CD
		    , A.BAIM_VAL_NM
		    , B.SORT_IDX AS SORT_IDX
		    , B.BAIM_VAL_D_CD
		    , B.BAIM_VAL_D_NM
		FROM TB_BAIM_VAL_M A 
			 INNER JOIN TB_BAIM_VAL_D B
			 	ON (
			 		A.CMPNY_CD = B.CMPNY_CD
		 		AND A.BAIM_VAL_CD = B.BAIM_VAL_CD
		 		AND (B.VAL_D_INFO_1 != 'manage' OR B.VAL_D_INFO_1 IS NULL)			<!-- 시스템관리용 코드는 제외 -->
			 	)
		WHERE 1=1
		  AND A.CMPNY_CD = #{cmpnyCd}
		  <if test="baseCodeList != null and baseCodeList != ''">
		  	AND A.BAIM_VAL_CD IN
		  	<foreach collection="baseCodeList" item="item" open="(" separator="," close=")">
		  		#{item}
		  	</foreach>
		  </if>
		  AND A.USE_YN = 'Y'
		  AND A.USE_YN = B.USE_YN
		  
		UNION ALL
		
		SELECT 
		    A.BAIM_VAL_CD
		    , A.BAIM_VAL_NM
		    , 0 AS SORT_IDX
		    , NULL AS BAIM_VAL_D_CD
		    , '전체' AS BAIM_VAL_D_NM
		FROM TB_BAIM_VAL_M A
		WHERE 1=1
		  AND A.CMPNY_CD = #{cmpnyCd}
		  AND A.USE_YN = 'Y'
		  <if test="baseCodeList != null and baseCodeList != ''">
		  	AND A.BAIM_VAL_CD IN
		  	<foreach collection="baseCodeList" item="item" open="(" separator="," close=")">
		  		#{item}
		  	</foreach>
		  </if>
	) A
	WHERE 1=1		
	ORDER BY A.BAIM_VAL_CD, A.SORT_IDX, A.BAIM_VAL_D_CD
    </select>   
    
    <select id="selectBaseinfo" parameterType="com.prafta.common.cmm.baseinfo.application.query.BaseInfoQuery" resultType="com.prafta.common.cmm.baseinfo.result.BaseInfoResult">
    /* BaseinfoMapper."selectBaseinfo" */
    SELECT 
		A.BAIM_VAL_CD				AS baimValCd
		, A.BAIM_VAL_NM				AS baimValNm
		, B.SORT_IDX				AS sortIdx
		, B.BAIM_VAL_D_CD			AS baimValDCd
		, B.BAIM_VAL_D_NM			AS baimBalDNm
	FROM TB_BAIM_VAL_M A
		 INNER JOIN TB_BAIM_VAL_D B
			ON (
				A.CMPNY_CD = B.CMPNY_CD
			AND A.BAIM_VAL_CD = B.BAIM_VAL_CD
	        AND A.USE_YN = B.USE_YN
	        <if test="codeD != null and codeD != ''">
				AND B.BAIM_VAL_D_CD = #{codeD}
			</if>
			<if test="nameD != null and nameD != ''">
				AND B.BAIM_VAL_D_NM LIKE CONCAT('%', #{nameD}, '%')
			</if>
			AND (B.VAL_D_INFO_1 != 'manage' OR B.VAL_D_INFO_1 IS NULL)					<!-- 시스템관리용 코드는 제외 -->
	        )
	WHERE A.CMPNY_CD = #{cmpnyCd}
	  AND A.USE_YN = 'Y'
	  <if test="code != null and code != ''">
		AND A.BAIM_VAL_CD = #{code}
	  </if>
	ORDER BY A.BAIM_VAL_CD, B.SORT_IDX, B.BAIM_VAL_D_CD
    </select>
    
	<select id="selectCmpnyInfo" parameterType="com.prafta.common.cmm.baseinfo.application.query.CmpnyInfoQuery" resultType="com.prafta.common.cmm.baseinfo.result.CmpnyInfoResult">
    /* BaseinfoMapper.selectCmpnyInfo */
    SELECT 
    	A.CMPNY_CD 		AS cmpnyCm
    	, A.CMPNY_NM	AS cmpnyNm
    	, A.USE_YN		AS useYn
	FROM TB_CMPNY A
	WHERE 1=1
	  AND A.CMPNY_CD = #{cmpnyCd}
    </select>
    
    <select id="getUserIdDupleCheck" parameterType="com.prafta.common.cmm.baseinfo.application.query.UserIdDupleCheckQuery" resultType="string">
    /* BaseinfoMapper.getUserIdDupleCheck */
	(
		SELECT 
			'N' AS UNIQUE_YN
		FROM TB_USER
		WHERE 1=1
		  AND CMPNY_CD = #{cmpnyCd}
		  AND USER_ID = #{userId}
	)
	UNION
	(
		SELECT 'Y' FROM DUAL
	)
	LIMIT 1;
    </select>
    
    <select id="selectMblUniqChk" parameterType="com.prafta.common.cmm.baseinfo.application.query.MblUniqueCheckQuery" resultType="int">
    /* BaseinfoMapper."selectMblUniqChk" */
    SELECT COUNT(*)
	FROM TB_USER A
	WHERE A.MBL_NO_HMAC = #{mblNoHmac}
    </select>
    
    <insert id="insertSmsAuthNo" parameterType="com.prafta.common.cmm.baseinfo.application.command.SmsAuthNoCommand">
    /* BaseinfoMapper.insertSmsAuthNo */
    INSERT INTO TB_SMS_AUTH_CODE (
		MBL_NO_ENC
		, MBL_NO_HMAC
	    , AUTH_CD
	    , EXPIRED_AT
	)
	VALUES (
		#{mblNoEnc}
		, #{mblNoHmac}
	    , #{certNo}
	    , DATE_ADD(NOW(), INTERVAL 1 MINUTE)
	)
    </insert>
    
    <select id="selectCertNoSmsId" parameterType="com.prafta.common.cmm.baseinfo.application.query.UserSmsAuthNoCheckQuery" resultType="string">
    /* BaseinfoMapper.selectCertNoSmsId */
    SELECT 
		SMS_ID
	FROM TB_SMS_AUTH_CODE
	WHERE 1=1
	  AND MBL_NO_HMAC = #{mblNoHmac}
	  AND AUTH_CD = #{certNo}
	  AND EXPIRED_AT <![CDATA[ >= ]]> NOW()
	  AND VERIFIED_YN = 'N'
    </select>
    
    <update id="updateSmsAuthReq" parameterType="com.prafta.common.cmm.baseinfo.application.command.MblUniqueCheckCommand">
    /* BaseinfoMapper.updateSmsAuthReq */
    UPDATE TB_SMS_AUTH_CODE
	SET 
	    VERIFIED_YN = 'Y',
	    UPDATE_NO = 'SYSTEM',
	    UPDATE_DATE = NOW()
	WHERE 
		SMS_ID = #{smsId}
	    AND MBL_NO_HMAC = #{mblNoHmac}
	    AND AUTH_CD = #{certNo}
	    AND EXPIRED_AT <![CDATA[ >= ]]> NOW()
	    AND VERIFIED_YN = 'N'
    </update>
    
    <select id="selectSiteInfoList" parameterType="com.prafta.common.cmm.baseinfo.application.query.SiteInfoQuery" resultType="com.prafta.common.cmm.baseinfo.result.SiteInfoResult">
    /* BaseinfoMapper."selectSiteInfoList" */
    SELECT 
    	A.SITE_CD														AS siteCd
    	, A.SITE_NO														AS siteNo
    	, A.SITE_NM														AS siteNm
    	, A.SITE_ADMIN_CD												AS siteAdminCd
    	, FNC_CMM_INFO_SRCH(A.CMPNY_CD, 'USER_NM', A.SITE_ADMIN_CD, null)	AS siteAdminNm
    	, A.ADDR_1														AS addr1
    	, A.ADDR_2														AS addr2
    	, A.TEL_NO														AS telNo
	FROM TB_SITE A
		 
		 <if test="userCd != null and userCd != ''">
		 INNER JOIN TB_USER_SITE_AUTH B
		 	ON (
				A.CMPNY_CD = B.CMPNY_CD
			AND A.SITE_CD = B.SITE_CD
			AND B.USE_YN = 'Y'
			AND B.USER_CD = #{userCd}
            )
		 </if>
			
	WHERE 1=1
	  AND A.CMPNY_CD = #{cmpnyCd}
	  AND A.USE_YN = 'Y'
	  AND (
	    A.END_DATE IS NULL OR
	  	A.END_DATE <![CDATA[ >= ]]> date_format(NOW(), '%y%m%d')
  	  )
  	  <if test="siteNo != null and siteNo != ''">
  	  	AND A.SITE_NO = #{siteNo}
  	  </if>
  	  <if test="siteNm != null and siteNm != ''">
  	  	AND A.SITE_NM LIKE CONCAT('%', #{siteNm}, '%')
  	  </if>
    </select>
    
    <select id="selectSiteNodeList" parameterType="com.prafta.common.cmm.baseinfo.application.query.SiteNodeListQuery" resultType="com.prafta.common.cmm.baseinfo.result.SiteNodeInfoResult">
    /* BaseinfoMapper."selectSiteNodeList" */
    WITH RECURSIVE viewer AS (
	    SELECT
	        U.CMPNY_CD,
	        U.USER_CD,
	        U.AUTH_CD,
	        U.SITE_CD,
	        U.NODE_CD
	    FROM TB_USER U
	    WHERE U.CMPNY_CD = #{cmpnyCd}
		  <if test="userCd != null and userCd != ''">
	      AND U.USER_CD = #{userCd}
	      </if>
	    LIMIT 1
	),
	node_tree AS (
	    /* 로그인 사용자의 node 부터 시작 */
	    SELECT N.CMPNY_CD, N.SITE_CD, N.NODE_CD
	    FROM TB_SITE_NODE N
	    INNER JOIN viewer V
	        ON N.CMPNY_CD = V.CMPNY_CD
	       AND N.SITE_CD  = V.SITE_CD
	       AND N.NODE_CD  = V.NODE_CD
	
	    UNION ALL
	
	    /* 하위 노드 무한 확장 */
	    SELECT C.CMPNY_CD, C.SITE_CD, C.NODE_CD
	    FROM TB_SITE_NODE C
	    INNER JOIN node_tree P
	        ON C.CMPNY_CD = P.CMPNY_CD
	       AND C.SITE_CD  = P.SITE_CD
	       AND C.PARENT_NODE_CD = P.NODE_CD
	)
    
    SELECT 
    	A.CMPNY_CD				AS cmpnyCd
	    , A.SITE_CD				AS siteCd
	    , A.NODE_CD				AS nodeCd
	    , A.NODE_NM				AS nodeNm
	    , A.NODE_TYPE			AS nodeType
	    , A.PARENT_NODE_CD		AS parentNodeCd
	    , A.PARENT_NODE_NM 		AS parentNodeNm
	    , A.SELF_ATTD_APPRV_YN	AS selfAttdApprvYn
    FROM
    (
		SELECT 
			A.CMPNY_CD
		    , A.SITE_CD
		    , A.NODE_CD
		    , A.NODE_NM
		    , A.NODE_TYPE
		    , PARENT_NODE_CD
		    , FNC_CMM_INFO_SRCH(A.CMPNY_CD, 'NODE', A.SITE_CD, A.PARENT_NODE_CD) AS PARENT_NODE_NM
		    , SELF_ATTD_APPRV_YN
		  FROM TB_SITE_NODE A
		 WHERE A.CMPNY_CD = #{cmpnyCd}
	 	   AND A.SITE_CD = #{siteCd}
	 	   AND (NULLIF(A.MAIN_ADMIN_CD, '') IS NOT NULL OR NULLIF(A.SUB_ADMIN_CD, '') IS NOT NULL)
	 	   /* 권한별 노드/사이트 제한 */
		   AND (
		         (SELECT V.AUTH_CD FROM viewer V) IN ('system','master','hr','safe')
		         OR (
					CASE 
						WHEN A.SITE_CD = (SELECT V.SITE_CD FROM viewer V)
							THEN (A.SITE_CD = (SELECT V.SITE_CD FROM viewer V) AND A.NODE_CD IN (SELECT T.NODE_CD FROM node_tree T))
					END
<!--
		             /* 비권한 사용자는 본인 site 고정 + 하위 node만 */
		             A.SITE_CD = (SELECT V.SITE_CD FROM viewer V)
		             AND A.NODE_CD IN (SELECT T.NODE_CD FROM node_tree T)
-->
		         )
		   )
	 	   <if test="nodeCd != null and nodeCd != ''">
	 	   	AND A.NODE_CD = #{nodeCd}
	 	   </if>
	 	   <if test="nodeNm != null and nodeNm != ''">
	 	   	AND A.NODE_NM LIKE CONCAT('%', #{nodeNm}, '%')
	 	   </if>
	 	   <if test="nodeType != null and nodeType != ''">
	 	   	AND A.NODE_TYPE = #{nodeType}
	 	   </if>
	) A
	WHERE 1=1
	  <if test="parentNodeNm != null and parentNodeNm != ''">
	  	AND A.PARENT_NODE_NM LIKE CONCAT('%', #{parentNodeNm}, '%')
	  </if>
	   
    </select>
        
    <select id="selectWebMenuList" parameterType="com.prafta.common.cmm.baseinfo.application.query.WebMenuListQuery" resultType="com.prafta.common.cmm.baseinfo.result.WebMenuResult">
    /* BaseinfoMapper."selectWebMenuList" */
    SELECT 
		A.CMPNY_CD		AS cmpnyCd
		, A.USER_CD		AS userCd
	    , A.USER_ID		AS userId
	    , A.USER_NM		AS userNm
	    , B.MENU_M_ID	AS menuMId
	    , B.MENU_D_ID 	AS path
	    , B.MENU_D_ID 	AS name
	    , B.MENU_VIEW 	AS view
	    , B.MENU_NM 	AS title
	FROM TB_USER A
	     INNER JOIN (
			SELECT 
				A.CMPNY_CD
				, A.AUTH_CD
				, B.MENU_M_ID
				, A.MENU_D_ID
				, B.MENU_VIEW
				, B.MENU_NM
			FROM TB_SYST_AUTH_MENU A
				 INNER JOIN (
					SELECT 
						A.MENU_M_ID
						, B.MENU_D_ID
						, B.MENU_VIEW
						, B.MENU_NM
	                    , A.USE_YN
					FROM TB_SYST_MENU_M A
						 INNER JOIN TB_SYST_MENU_D B
							ON (
								A.MENU_M_ID = B.MENU_M_ID
							AND A.USE_YN = B.USE_YN
							)
					WHERE A.USE_YN = 'Y'
					ORDER BY A.MENU_IDX, B.MENU_IDX
				 ) B
					ON (
						A.MENU_D_ID = B.MENU_D_ID
					AND A.USE_YN = B.USE_YN
					)
	     ) B
			ON (
				A.CMPNY_CD = B.CMPNY_CD
			AND A.AUTH_CD = B.AUTH_CD
	        )
	WHERE 1=1
	  AND A.CMPNY_CD = #{cmpnyCd}	  
	  AND A.USER_CD = #{userCd}
    </select>
    
    <select id="selectAppMenuList" parameterType="com.prafta.common.cmm.baseinfo.application.query.AppMenuListQuery" resultType="com.prafta.common.cmm.baseinfo.result.AppMenuResult">
    /* BaseinfoMapper."selectAppMenuList" */
    SELECT
		A.MENU_M_ID	AS menuMId
		, B.MENU_D_ID 	AS path
		, B.MENU_D_ID 	AS name
		, B.MENU_VIEW 	AS view
		, B.MENU_NM 	AS title
	FROM TB_SYST_MENU_M A
	     INNER JOIN TB_SYST_MENU_D B
			ON (
				A.MENU_M_ID = B.MENU_M_ID
			AND A.USE_YN = B.USE_YN
	        )
	WHERE A.MENU_SRC = '002'				/* APP MENU TYPE */
	  AND A.USE_YN = 'Y'
    </select>
	
	<select id="selectMenuList" parameterType="com.prafta.common.cmm.baseinfo.application.query.MenuListQuery" resultType="com.prafta.common.cmm.baseinfo.result.MenuInfoResult">
    /* BaseinfoMapper."selectMenuList" */
    SELECT 
		B.MENU_M_ID 								AS keyId
	    , CONCAT(B.MENU_M_ID, '_',B.MENU_SUB_IDX) 	AS id
	    , B.TOP_MENU_NM								AS topMenuNm
        , B.SIDE_MENU_NM							AS sideMenu
	    , B.MENU_D_ID 								AS route
	    , B.BTN_SRCH								AS btnSrch
	    , B.BTN_NEW									AS btnNew
		, B.BTN_DELT								AS btnDelt
		, B.BTN_SAVE								AS btnSave
		, B.BTN_EXCL								AS btnExcl
		, B.MENU_IDX								AS menuIdx
		, B.MENU_SUB_IDX							AS menuSubIdx
	FROM TB_USER A
	     INNER JOIN (
			SELECT 
				A.CMPNY_CD
				, A.AUTH_CD
				, B.MENU_M_ID
				, A.MENU_D_ID
				, B.MENU_VIEW
				, B.TOP_MENU_NM
				, B.SIDE_MENU_NM
	            , A.BTN_SRCH
	            , A.BTN_NEW
	            , A.BTN_DELT
	            , A.BTN_SAVE
	            , A.BTN_EXCL
	            , B.MENU_IDX
	            , B.MENU_SUB_IDX
			FROM TB_SYST_AUTH_MENU A
				 INNER JOIN (
					SELECT 
						A.MENU_M_ID
						, A.MENU_NM AS TOP_MENU_NM
						, B.MENU_D_ID
						, B.MENU_VIEW
						, B.MENU_NM	AS SIDE_MENU_NM
	                    , A.USE_YN
	                    , A.MENU_IDX
	                    , B.MENU_IDX AS MENU_SUB_IDX
					FROM TB_SYST_MENU_M A
						 INNER JOIN TB_SYST_MENU_D B
							ON (
								A.MENU_M_ID = B.MENU_M_ID
							AND A.USE_YN = B.USE_YN
							)
					WHERE A.USE_YN = 'Y'
					  AND A.MENU_SRC = #{menuSrc}
					ORDER BY A.MENU_IDX, B.MENU_IDX
				 ) B
					ON (
						A.MENU_D_ID = B.MENU_D_ID
					AND A.USE_YN = B.USE_YN
					)
	     ) B
			ON (
				A.CMPNY_CD = B.CMPNY_CD
			AND A.AUTH_CD = B.AUTH_CD
	        )
	WHERE 1=1
	  AND A.CMPNY_CD = #{cmpnyCd}
	  AND A.USER_CD = #{userCd}
	  AND A.USE_YN = 'Y'
	ORDER BY B.MENU_IDX, B.MENU_SUB_IDX
    </select>

    <select id="selectUserIdInfo" parameterType="com.prafta.common.cmm.baseinfo.application.query.UserIdInfoQuery" resultType="com.prafta.common.cmm.baseinfo.result.UserIdInfoResult">
    /* BaseinfoMapper."selectUserIdInfo" */
    SELECT
    	CMPNY_CD	AS cmpnyCd
    	, USER_CD	AS userCd
    	, USER_ID	AS userId
    FROM TB_USER
    WHERE 1=1
      AND USER_NM = #{userNm}
      AND MBL_NO_HMAC = #{mblNoHmac}
    </select>
    
    <update id="updateUserPw" parameterType="com.prafta.common.cmm.baseinfo.application.command.UserPasswordCommand">
    /* BaseinfoMapper."updateUserPw" */
    UPDATE TB_USER
	SET USER_PW = #{userPw}
	WHERE 1=1
	  AND CMPNY_CD = #{cmpnyCd}
	  AND USER_CD = #{userCd}
    </update>

    <select id="selectSmsVerifiedSmsId" parameterType="com.prafta.common.cmm.baseinfo.application.query.SmsVerifiedCheckQuery" resultType="string">
    /* BaseinfoMapper.selectSmsVerifiedSmsId */
    SELECT
    	S.SMS_ID
	FROM TB_SMS_AUTH_CODE S
	INNER JOIN TB_USER U
		ON U.MBL_NO_HMAC = S.MBL_NO_HMAC
	WHERE 1=1
	  AND U.CMPNY_CD = #{cmpnyCd}
	  AND U.USER_CD = #{userCd}
	  AND S.VERIFIED_YN = 'Y'
	  AND S.UPDATE_DATE <![CDATA[ >= ]]> DATE_SUB(NOW(), INTERVAL 10 MINUTE)
	ORDER BY S.UPDATE_DATE DESC
	LIMIT 1
    </select>

    <update id="consumeSmsAuth" parameterType="com.prafta.common.cmm.baseinfo.application.command.SmsAuthConsumeCommand">
    /* BaseinfoMapper.consumeSmsAuth */
    UPDATE TB_SMS_AUTH_CODE
	SET
	    VERIFIED_YN = 'C'
	    , UPDATE_NO = 'SYSTEM'
	    , UPDATE_DATE = NOW()
	WHERE 1=1
	  AND SMS_ID = #{smsId}
	  AND VERIFIED_YN = 'Y'
    </update>
    
    <select id="selectTermsDetailInfo" parameterType="com.prafta.common.cmm.baseinfo.application.query.TermsDetailInfoQuery" resultType="com.prafta.common.cmm.baseinfo.result.TermsDetailInfoResult">
    /* BaseinfoMapper."selectTermsDetailInfo" */
    SELECT 
    	A.TERMS_ID         AS termsId
	    , A.TERMS_VERSION    AS termsVersion
	    , A.REQUIRED_YN      AS requiredYn
	    , A.TERMS_CONTENT    AS termsContent
	    , A.STR_DATE         AS strDate
	    , A.USE_YN           AS useYn
	    , A.TERMS_DESC       AS termsDesc
	    , A.INSERT_NO        AS insertNo
	    , A.INSERT_DATE      AS insertDate
	    , A.UPDATE_NO        AS updateNo
	    , A.UPDATE_DATE      AS updateDate
	FROM TB_TERMS A
	WHERE A.TERMS_ID = #{termsId}
    </select>

	<resultMap id="UserInfoMap" type="com.prafta.common.cmm.baseinfo.result.UserInfoResult">
	  <constructor>
	    <arg name="chk"       column="chk"       javaType="java.lang.String"/>
	    <arg name="cmpnyCd"   column="cmpnyCd"   javaType="java.lang.String"/>
	    <arg name="userCd"    column="userCd"    javaType="java.lang.String"/>
	    <arg name="userId"    column="userId"    javaType="java.lang.String"/>
	    <arg name="userNm"    column="userNm"    javaType="java.lang.String"/>
	    <arg name="authCd"    column="authCd"    javaType="java.lang.String"/>
	    <arg name="authLevel" column="authLevel" javaType="java.lang.String"/>
	    <arg name="siteCd"    column="siteCd"    javaType="java.lang.String"/>
	    <arg name="nodeCd"    column="nodeCd"    javaType="java.lang.String"/>
	    <arg name="oriNodeCd" column="oriNodeCd" javaType="java.lang.String"/>
	    <arg name="nodeNm"    column="nodeNm"    javaType="java.lang.String"/>
	    <arg name="siteNm"    column="siteNm"    javaType="java.lang.String"/>

	    <arg name="mblNo"   column="mblNo"   javaType="java.lang.String"
	         typeHandler="com.prafta.common.security.crypto.mybatis.AesGcmDecryptTypeHandler"/>
	    <arg name="email"   column="email"   javaType="java.lang.String"
	         typeHandler="com.prafta.common.security.crypto.mybatis.AesGcmDecryptTypeHandler"/>
	    <arg name="birthDt" column="birthDt" javaType="java.lang.String"
	         typeHandler="com.prafta.common.security.crypto.mybatis.AesGcmDecryptTypeHandler"/>

	    <arg name="gender"    column="gender"    javaType="java.lang.String"/>
	    <arg name="useYn"     column="useYn"     javaType="java.lang.String"/>
	    <arg name="siteNmList" column="siteNmList" javaType="java.lang.String"/>
	    <arg name="accountStatus" column="accountStatus" javaType="java.lang.String"/>
	    <arg name="withdrawalDate" column="withdrawalDate" javaType="java.lang.String"/>
	  </constructor>
	</resultMap>

    <select id="selectUserInfoList" parameterType="com.prafta.common.cmm.baseinfo.application.query.UserInfoListQuery" resultMap="UserInfoMap">
    /* BaseinfoMapper.selectUserInfoList */
	WITH RECURSIVE viewer AS (
	    SELECT
	        U.CMPNY_CD,
	        U.USER_CD,
	        U.USER_ID,
	        U.AUTH_CD,
	        U.SITE_CD,
	        U.NODE_CD
	    FROM TB_USER U
	    WHERE U.CMPNY_CD = #{gvCmpnyCd}
	      AND U.USER_CD  = #{gvUserCd}
	    LIMIT 1
	),
	node_tree AS (
	    SELECT N.CMPNY_CD, N.SITE_CD, N.NODE_CD
	    FROM TB_SITE_NODE N
	    INNER JOIN viewer V
	        ON N.CMPNY_CD = V.CMPNY_CD
	       AND N.SITE_CD  = V.SITE_CD
	       AND N.NODE_CD  = V.NODE_CD

	    UNION ALL

	    SELECT C.CMPNY_CD, C.SITE_CD, C.NODE_CD
	    FROM TB_SITE_NODE C
	    INNER JOIN node_tree P
	        ON C.CMPNY_CD = P.CMPNY_CD
	       AND C.SITE_CD  = P.SITE_CD
	       AND C.PARENT_NODE_CD = P.NODE_CD
	)

	SELECT
	    null                                                              	AS chk
	    , A.CMPNY_CD                                                       	AS cmpnyCd
	    , A.USER_CD                                                        	AS userCd
	    , A.USER_ID                                                        	AS userId
	    , A.USER_NM                                                        	AS userNm
	    , A.AUTH_CD                                                        	AS authCd
	    , FNC_CMM_INFO_SRCH(A.CMPNY_CD, 'AUTH_LEVEL', A.AUTH_CD, null)		AS authLevel
	    , A.SITE_CD                                                        	AS siteCd
	    , A.NODE_CD                                                        	AS nodeCd
	    , A.NODE_CD                                                        	AS oriNodeCd
	    , FNC_CMM_INFO_SRCH(A.CMPNY_CD, 'NODE', A.SITE_CD, A.NODE_CD)      	AS nodeNm
	    , C.SITE_NM                                                        	AS siteNm
	    , A.MBL_NO_ENC														AS mblNo
	    , A.EMAIL_ENC														AS email
	    , A.BIRTH_DT_ENC													AS birthDt
	    , A.GENDER                                                         	AS gender
	    , A.USE_YN                                                         	AS useYn
	    , IFNULL(B.SITE_NM_LIST, '')                                       	AS siteNmList
	    , A.ACCOUNT_STATUS													AS accountStatus
        , DATE_FORMAT(STR_TO_DATE(A.WITHDRAWAL_DATE, '%Y%m%d'), '%Y-%m-%d') AS withdrawalDate
	FROM TB_USER A
		LEFT JOIN (
		    SELECT
		        X.USER_CD,
		        GROUP_CONCAT(S.SITE_NM ORDER BY S.SITE_CD SEPARATOR ',') AS SITE_NM_LIST
		    FROM TB_USER_SITE_AUTH X
		    INNER JOIN TB_SITE S
		        ON X.CMPNY_CD = S.CMPNY_CD
		       AND X.SITE_CD  = S.SITE_CD
		    WHERE X.USE_YN = 'Y'
		    GROUP BY X.USER_CD
		) B
			ON (
				B.USER_CD = A.USER_CD
			)
		INNER JOIN TB_SITE C
		    ON (
				A.CMPNY_CD = C.CMPNY_CD
		   	AND A.SITE_CD  = C.SITE_CD
		   	AND C.USE_YN   = 'Y'
		   	)
		WHERE 1=1
		  AND A.CMPNY_CD = #{gvCmpnyCd}
		  AND A.AUTH_CD != 'system'
		  AND A.USE_YN = 'Y'

		  AND (
			<choose>
				<when test="searchMode != null and searchMode != ''">
					<if test='"SHIFT_USER_SRCH".equals(searchMode)'>
						(SELECT V.AUTH_CD FROM viewer V) IN ('system','master','hr') OR
					</if>
				</when>
				<otherwise>
					(SELECT V.AUTH_CD FROM viewer V) IN ('system','master','hr','safe') OR
				</otherwise>
			</choose>
		        (
		            A.SITE_CD = (SELECT V.SITE_CD FROM viewer V)
		            <if test="gvNodeCd != null and gvNodeCd != ''">
		            	AND A.NODE_CD IN (SELECT T.NODE_CD FROM node_tree T)
		            </if>
		        )
		  )

		  <if test="userNm != null and userNm != ''">
		    AND A.USER_NM LIKE CONCAT('%', #{userNm}, '%')
		  </if>

		  <if test="userId != null and userId != ''">
		    AND A.USER_ID = #{userId}
		  </if>

		  <if test="useYn != null and useYn != ''">
		    AND A.USE_YN = #{useYn}
		  </if>

		  <if test="siteCd != null and siteCd != ''">
		    AND A.SITE_CD = #{siteCd}
		  </if>

		  <if test="nodeCd != null and nodeCd != ''">
		    AND A.NODE_CD = #{nodeCd}
		  </if>
		  
		  <if test="searchMode != null and searchMode != ''">
			<if test='"SHIFT_USER_SRCH".equals(searchMode)'>
			  AND NOT EXISTS (
				  SELECT 1
	              FROM TB_SHIFT_SCH_TEAM_USER STU
		        WHERE STU.CMPNY_CD = A.CMPNY_CD
  		          AND STU.SITE_CD  = A.SITE_CD
		          AND STU.USER_CD  = A.USER_CD
	          )
			</if>
		  </if>
		  
    </select>

</mapper>