<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prafta.web.risk.risk01.mapper.Risk01Mapper">

	<select id="selectRiskTypeList" parameterType="com.prafta.web.risk.risk01.application.query.RiskTypeListQuery" resultType="com.prafta.web.risk.risk01.result.RiskTypeResult">
    /* Risk01Mapper.selectRiskTypeList */
    SELECT
    	A.CMPNY_CD 			AS cmpnyCd
    	, A.RISK_TYPE_CD	AS riskTypeCd
    	, A.RISK_TYPE_NM	AS riskTypeNm
    	, A.SITE_CD			AS siteCd
    	, A.PROCESS_CD		AS processCd
    	, A.USE_YN			AS useYn
    	, A.RISK_TYPE_DESC	AS riskTypeDesc
   	FROM TB_RISK_TYPE A
   	WHERE 1=1
   	  <!-- ★테넌트 격리(누락 수정): 회사 조건이 없어 **다른 회사의 위험분류까지 조회**되고 있었다.
   	       회사가 001 하나뿐일 때는 드러나지 않다가, 신규 고객사가 생기면 즉시 타사 데이터가 섞인다
   	       (실증: 신규사 관리자 화면에 001 항목 32건이 함께 노출 → 총 64건).
   	       같은 매퍼의 다른 문장(deleteRistType/selectRiskHazardList 등)은 이미 CMPNY_CD 를 걸고 있다. -->
   	  AND A.CMPNY_CD = #{gvCmpnyCd}
   	  AND (
   	  	A.SITE_CD IS NULL OR A.SITE_CD = ''
   	  	<if test="siteCd != null and siteCd != ''">
   	      OR A.SITE_CD = #{siteCd}
   	    </if>
   	  )
   	  <if test="processCd != null and processCd != ''">
   	  	AND A.PROCESS_CD = #{processCd}
   	  </if>
   	  <if test="riskTypeNm != null and riskTypeNm != ''">
   	  	AND A.RISK_TYPE_NM LIKE CONCAT('%', #{riskTypeNm}, '%')
   	  </if>
   	  <if test="useYn != null and useYn != ''">
   	  	AND A.USE_YN = #{useYn}
   	  </if>
    </select>

	<update id="mergeRistType" parameterType="com.prafta.web.risk.risk01.application.command.RiskTypeCommand">
	/* Risk01Mapper.mergeRistType */
    INSERT INTO TB_RISK_TYPE (
    	CMPNY_CD
    	, RISK_TYPE_CD
    	, RISK_TYPE_NM
    	, SITE_CD
    	, PROCESS_CD
    	, USE_YN
    	, RISK_TYPE_DESC
    	, INSERT_NO
    	, INSERT_DATE
    	, UPDATE_NO
    	, UPDATE_DATE
   	)
   	VALUES(
   		#{gvCmpnyCd}
   		, IFNULL(#{riskTypeCd}, FNC_CMM_SEQ_NEXTVAL(#{gvCmpnyCd}, 'RISK_TYPE_CD'))
   		, #{riskTypeNm}
   		, NULLIF(#{siteCd}, '')
   		, #{processCd}
		, IFNULL(#{useYn}, 'Y')
		, #{riskTypeDesc}
		, #{gvUserCd}
		, now()
		, #{gvUserCd}
		, now() 
   	) AS NEW
   	ON DUPLICATE KEY UPDATE
	    RISK_TYPE_NM	= NEW.RISK_TYPE_NM
	    , USE_YN		= IFNULL(NEW.USE_YN, 'Y')
	    , UPDATE_NO   	= NEW.UPDATE_NO
	    , UPDATE_DATE 	= NOW()
	</update>

	<select id="selectRiskHazardCnt" parameterType="com.prafta.web.risk.risk01.application.query.RiskHazardCountQuery" resultType="java.lang.Integer">
    /* Risk01Mapper.selectRiskHazardCnt */
    SELECT COUNT(*)
   	FROM TB_RISK_SITE_HAZARD
   	WHERE 1=1
   	  AND CMPNY_CD = #{gvCmpnyCd}
   	  AND RISK_TYPE_CD = #{riskTypeCd}
    </select>
	
	<delete id="deleteRistType" parameterType="com.prafta.web.risk.risk01.application.command.RiskTypeCommand">
	/* Risk01Mapper.deleteRistType */
	DELETE FROM TB_RISK_TYPE
	WHERE CMPNY_CD = #{gvCmpnyCd}
	  AND RISK_TYPE_CD = #{riskTypeCd}
	  <if test="siteCd != null and siteCd != ''">
	  	AND SITE_CD = #{siteCd}
	  </if>
	  AND PROCESS_CD = #{processCd}
	</delete>

	<select id="selectRiskHazardList" parameterType="com.prafta.web.risk.risk01.application.query.RiskHazardListQuery" resultType="com.prafta.web.risk.risk01.result.RiskHazardResult">
    /* Risk01Mapper.selectRiskHazardList */
    SELECT 
    	'' 				AS chk
    	, CMPNY_CD		AS cmpnyCd
    	, RISK_TYPE_CD	AS riskTypeCd
    	, HAZARD_CD		AS hazardCd
    	, HAZARD_NM		AS hazardNm
    	, SITE_CD		AS siteCd
    	, HAZARD_DESC	AS hazardDesc
   	FROM TB_RISK_SITE_HAZARD
   	WHERE 1=1
   	  AND CMPNY_CD = #{gvCmpnyCd}
   	  AND RISK_TYPE_CD = #{riskTypeCd}
   	  <if test="hazardNm != null and hazardNm != ''">
   	  	AND HAZARD_NM LIKE CONCAT('%', #{hazardNm}, '%')
   	  </if>
   	  <if test="hazardDesc != null and hazardDesc != ''">
   	  	AND HAZARD_DESC LIKE CONCAT('%', #{hazardDesc}, '%')
   	  </if>
    </select>

	<update id="mergeRiskHazard" parameterType="com.prafta.web.risk.risk01.application.command.RiskHazardCommand">
	/* Risk01Mapper.mergeRiskHazard */
	INSERT INTO TB_RISK_SITE_HAZARD (
    	CMPNY_CD
    	, RISK_TYPE_CD
    	, HAZARD_CD
    	, HAZARD_NM
    	, SITE_CD
    	, HAZARD_DESC  	
    	, INSERT_NO
    	, INSERT_DATE
    	, UPDATE_NO
    	, UPDATE_DATE
   	)
   	VALUES(
   		#{gvCmpnyCd}
   		, #{riskTypeCd}
   		, IFNULL(#{hazardCd}, FNC_CMM_SEQ_NEXTVAL(#{gvCmpnyCd}, 'HAZARD_CD'))
   		, #{hazardNm}
   		, NULLIF(#{siteCd}, '')
		, #{hazardDesc}
		, #{gvUserCd}
		, now()
		, #{gvUserCd}
		, now() 
   	) AS NEW
   	ON DUPLICATE KEY UPDATE
	    HAZARD_NM		= NEW.HAZARD_NM
	    , HAZARD_DESC	= NEW.HAZARD_DESC
	    , UPDATE_NO   	= NEW.UPDATE_NO
	    , UPDATE_DATE 	= NOW()
	</update>

	<delete id="deleteRiskHazard" parameterType="com.prafta.web.risk.risk01.application.command.RiskHazardCommand">
	/* Risk01Mapper.deleteRiskHazard */
	DELETE FROM TB_RISK_SITE_HAZARD
	WHERE CMPNY_CD = #{gvCmpnyCd}
	  AND RISK_TYPE_CD = #{riskTypeCd}
	  AND HAZARD_CD = #{hazardCd}
	  <if test="siteCd != null and siteCd != ''">
	  	AND SITE_CD = #{siteCd}
	  </if>
	</delete>

</mapper>