<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prafta.common.cmm.login.mapper.LoginMapper">

    <select id="Login" parameterType="com.prafta.common.cmm.login.application.query.LoginQuery" resultType="com.prafta.common.cmm.login.result.UserResult">
    /* LoginMapper.Login */
	SELECT
		A.CMPNY_CD      			AS cmpnyCd
		, A.USER_CD       			AS userCd
		, A.USER_ID       			AS userId
		, A.USER_NM       			AS userNm
		, A.USER_PW       			AS userPw
		, A.AUTH_CD       			AS authCd
		, FNC_CMM_INFO_SRCH(
			A.CMPNY_CD
			, "AUTH_LEVEL"
			, A.AUTH_CD
			, NULL
		) 							AS authLevel
		, A.SITE_CD       			AS siteCd
		, B.SITE_NO       			AS siteNo
		, B.SITE_NM       			AS siteNm
		, A.NODE_CD					AS nodeCd
        , C.NODE_NM					AS nodeNm
		, A.MBL_NO_ENC				AS mblNoEnc
        , A.EMAIL_ENC				AS emailEnc
        
        , A.PWD_LOCK_YN				AS pwdLockYn
        , A.PWD_FAIL_CNT			AS pwdFailCnt
        , A.PWD_LOCK_EXPIRE_DTIME	AS pwdLockExpireDtime
        , A.PWD_CHG_DTIME			AS pwdChgDtime
		, A.WITHDRAWAL_DATE			AS withdrawalDate
		
		
		, A.LAST_LOGIN_DTIME		AS lastLoginDtime        
		, A.INSERT_NO    			AS insertNo
		, A.INSERT_DATE   			AS insertDate
		, A.UPDATE_NO     			AS updateNo
		, A.UPDATE_DATE   			AS updateDate
	FROM TB_USER A
         INNER JOIN TB_SITE B
			ON (
				A.CMPNY_CD = B.CMPNY_CD
			AND A.SITE_CD = B.SITE_CD
            )
         LEFT OUTER JOIN TB_SITE_NODE C
			ON (
				A.CMPNY_CD = C.CMPNY_CD
			AND A.SITE_CD = C.SITE_CD
            AND A.NODE_CD = C.NODE_CD
            )
	WHERE 1=1
	  AND A.USER_ID = #{userId}
	  AND A.USE_YN = 'Y'
    </select>
    
    <update id="userPwdUnLock" parameterType="com.prafta.common.cmm.login.application.command.UserPwdUnlockCommand">
    /* LoginMapper.userPwdUnLock */
    UPDATE TB_USER
	SET PWD_LOCK_YN 			= 'N'
		, PWD_FAIL_CNT 			= 0
		, PWD_LOCK_EXPIRE_DTIME = null
		, UPDATE_NO     		= 'SYSTEM'
	    , UPDATE_DATE   		= NOW()
	WHERE CMPNY_CD = #{cmpnyCd}
	  AND USER_CD  = #{userCd}
    </update>
    
    <update id="updateUserPwdFail" parameterType="com.prafta.common.cmm.login.application.command.UserPwdFailCommand">
    /* LoginMapper.updateUserPwdFail */
    UPDATE TB_USER
	SET
	    PWD_FAIL_CNT   = PWD_FAIL_CNT + 1,
        PWD_LOCK_YN = CASE 
                        WHEN PWD_FAIL_CNT + 1 >= #{pwdFailMaxCnt} THEN 'Y' 
                        ELSE 'N' 
                      END,
        PWD_LOCK_EXPIRE_DTIME = CASE 
                        WHEN PWD_FAIL_CNT + 1 >= #{pwdFailMaxCnt} 
                        THEN DATE_ADD(NOW(), INTERVAL #{lockDurationMinutes} MINUTE)
                        ELSE NULL 
                      END,
	    UPDATE_NO      = 'SYSTEM',
	    UPDATE_DATE    = NOW()
	WHERE CMPNY_CD = #{cmpnyCd}
	  AND USER_CD  = #{userCd}
    </update>

    <select id="lockUserRow" parameterType="com.prafta.common.cmm.login.application.query.UserRowLockQuery" resultType="int">
    /* LoginMapper.lockUserRow */
    SELECT 1
	FROM TB_USER
	WHERE CMPNY_CD = #{cmpnyCd}
	  AND USER_CD  = #{userCd}
	FOR UPDATE
    </select>
    
    <update id="revokeActiveToken" parameterType="com.prafta.common.cmm.login.application.command.ActiveTokenCommand">
    /* LoginMapper.revokeActiveToken */
    UPDATE prafta.TB_AUTH_TOKEN
	SET REVOKED_YN='Y',
	    REVOKED_DTIME=NOW(),
	    UPDATE_NO=#{userCd},
	    UPDATE_DATE=NOW()
	WHERE CMPNY_CD=#{cmpnyCd}
	  AND USER_CD=#{userCd}
	  AND CLIENT_TYPE=#{clientType}
	  AND REVOKED_YN='N'
	  AND EXPIRE_DTIME > NOW()
    </update>
    
    <insert id="insertAuthToken" parameterType="com.prafta.common.cmm.login.application.command.ActiveTokenCommand">
    /* LoginMapper.insertAuthToken */
    INSERT INTO TB_AUTH_TOKEN (
	    CMPNY_CD
	    , USER_CD
	    , TOKEN_ID
	    , CLIENT_TYPE
	    , REFRESH_TOKEN_HASH
	    , ISSUED_DTIME
	    , EXPIRE_DTIME
	    , REVOKED_YN
	    , REVOKED_DTIME
	    , INSERT_NO
	    , INSERT_DATE
	) VALUES (
	    #{cmpnyCd}
	    , #{userCd}
	    , #{tokenId}
	    , #{clientType}
	    , #{refreshTokenHash}
	    , NOW()
	    , DATE_ADD(NOW(), INTERVAL #{expireDtime} DAY)
	    , 'N'
	    , NULL,
	    #{userCd}
	    , NOW()
	)
    </insert>
    
    
    <update id="updateUserLastLoginDtime" parameterType="string">
    /* LoginMapper.updateUserLastLoginDtime */
    UPDATE TB_USER
    SET LAST_LOGIN_DTIME = NOW()
    	, UPDATE_NO = 'SYSTEM'
    	, UPDATE_DATE = NOW()
	WHERE USER_CD = #{userCd}
    </update>
    
    <select id="selectUserCd" resultType="string">
    /* LoginMapper.selectUserCd */
    SELECT CONCAT(DATE_FORMAT(NOW(), '%Y%m'), FNC_CMM_SEQ_NEXTVAL(#{cmpnyCd}, 'USER_CD'))
    FROM DUAL
    </select>
    
    <insert id="insertUserInfo" parameterType="com.prafta.common.cmm.login.application.command.UserJoinCommand">
    /* LoginMapper.insertUserInfo */
    INSERT INTO TB_USER (
        CMPNY_CD
        , USER_CD
        , USER_ID
        , USER_NM
        , USER_PW
        , SITE_CD
        , NODE_CD
        , AUTH_CD
        , MBL_NO_ENC
        , MBL_NO_HMAC
        , MBL_NO_LAST4
        , EMAIL_ENC
        , EMAIL_HMAC
        , EMAIL_DOMAIN
        , GENDER
        , BIRTH_DT_ENC
        , USE_YN
        , INSERT_NO
        , INSERT_DATE
        , UPDATE_NO
        , UPDATE_DATE
    )
    VALUES (
        #{cmpnyCd}
        , #{userCd}
        , #{userId}
        , #{userNm}
        , #{userPw}
        , #{siteCd}
        , #{nodeCd}
        , IFNULL(#{authCd}, '99999')				<!-- 사용자 기본권한 99999 -->
        , #{mblNoEnc}
        , #{mblNoHmac}
        , #{mblNoLast4}
        , #{emailEnc}
        , #{emailHmac}
        , #{emailDomain}
        , #{gender}
        , #{birthDtEnc}
        , 'Y'
        , 'SYSTEM'
        , NOW()
        , 'SYSTEM'
        , NOW()
    )
    </insert>
    
    <update id="revokeActiveTokenByClient" parameterType="com.prafta.common.cmm.login.application.command.UserLogoutCommand">
    /* LoginMapper.revokeActiveTokenByClient */
	UPDATE TB_AUTH_TOKEN
       SET REVOKED_YN    = 'Y'
         , REVOKED_DTIME = NOW()
         , UPDATE_NO     = #{userCd}
         , UPDATE_DATE   = NOW()
     WHERE CMPNY_CD      = #{cmpnyCd}
       AND USER_CD       = #{userCd}
       AND CLIENT_TYPE   = #{clientType}
       AND REVOKED_YN    = 'N'
       AND EXPIRE_DTIME  > NOW()
       <if test="deviceId != null and deviceId != ''">
       AND DEVICE_ID     = #{deviceId}
       </if>
    </update>
    
    <update id="revokeAllActiveTokens" parameterType="com.prafta.common.cmm.login.application.command.UserLogoutCommand">
    /* LoginMapper.revokeAllActiveTokens */
    UPDATE TB_AUTH_TOKEN
       SET REVOKED_YN    = 'Y'
         , REVOKED_DTIME = NOW()
         , UPDATE_NO     = #{userCd}
         , UPDATE_DATE   = NOW()
     WHERE CMPNY_CD      = #{cmpnyCd}
       AND USER_CD       = #{userCd}
       AND REVOKED_YN    = 'N'
       AND EXPIRE_DTIME  > NOW()
    </update>
    
    <insert id="insertUserSiteAuth" parameterType="com.prafta.common.cmm.login.application.command.UserJoinCommand">
    /* LoginMapper.insertUserSiteAuth */
    INSERT INTO TB_USER_SITE_AUTH (
    	CMPNY_CD
    	, USER_CD
    	, SITE_CD
    	, USE_YN
    	, INSERT_NO
    	, INSERT_DATE
    	, UPDATE_NO
    	, UPDATE_DATE
    ) VALUES (
    	#{cmpnyCd}
    	, #{userCd}
    	, #{siteCd}
    	, 'Y'
    	, #{userCd}
    	, NOW()
    	, #{userCd}
    	, NOW()
    )
    </insert>
    
    <select id="selectRequiredTermsList" resultType="com.prafta.common.cmm.login.result.RequiredTermsResult">
    /* LoginMapper.selectRequiredTermsList */
    SELECT 
		A.SYST_VAL_D_CD 		AS termsId
	    , A.SYST_VAL_D_NM 		AS termsNm
	    , B.TERMS_VERSION 		AS termsVersion
	FROM TB_SYST_VAL_D A
	     INNER JOIN TB_TERMS B
			ON (
				A.SYST_VAL_D_CD = B.TERMS_ID
			AND B.REQUIRED_YN = 'Y'
	        AND B.USE_YN = 'Y'
	        )
	WHERE A.SYST_VAL_CD = 'SYS008'						/* 이용약관 코드 조회 */
    </select>
    
    <insert id="insertTermsUserAgrMgmt" parameterType="com.prafta.common.cmm.login.application.command.RequiredTermsInfoCommand">
    /* LoginMapper.insertTermsUserAgrMgmt */
    INSERT INTO TB_TERMS_USER_AGR_MGMT (
    	USER_CD
    	, TERMS_ID
    	, TERMS_VERSION
    	, AGR_YN
    	, INSERT_NO
    	, INSERT_DATE
    )
    VALUES (
    	#{userCd}
    	, #{termsId}
    	, #{termsVersion}
    	, #{agrYn}
    	, #{userCd}
    	, NOW()
    )
    </insert>
    
    <select id="selectUserTermsAgreementCheck" parameterType="com.prafta.common.cmm.login.application.query.UserTermsAgreementCheckQuery" resultType="com.prafta.common.cmm.login.result.UserTermsAgreementCheckResult">
    /* LoginMapper.selectUserTermsAgreementCheck */
    SELECT
		A.TERMS_ID 				AS termsId
		, A.USER_TERMS_AGR_YN 	AS userTermsAgrYn
	FROM
	(
	    SELECT 
			A.TERMS_ID
		    , CASE
				WHEN A.TERMS_VERSION = B.TERMS_VERSION
					THEN 'Y'
				ELSE 'N'
			END USER_TERMS_AGR_YN    
		FROM TB_TERMS A
		     LEFT OUTER JOIN TB_TERMS_USER_AGR_MGMT B
				ON (
					A.TERMS_ID = B.TERMS_ID
				AND A.TERMS_VERSION = B.TERMS_VERSION
		        AND B.USER_CD = #{userCd}
		        )
		WHERE 1=1
		  AND A.USE_YN = 'Y'
	) A
	WHERE A.USER_TERMS_AGR_YN = 'N'
    </select>
    
    <update id="mergeAuthMenuInfo" parameterType="com.prafta.common.cmm.login.application.command.AuthMenuInfoCommand">
	/* LoginMapper.mergeAuthMenuInfo */
	INSERT INTO TB_TERMS_USER_AGR_MGMT (
		USER_ID
		, TERMS_ID
		, TERMS_VERSION
		, AGR_YN
		, INSERT_NO
		, INSERT_DATE
	) 
	SELECT 
		#{userId} AS USER_ID
	    , TERMS_ID
	    , TERMS_VERSION
	    , 'Y'
	    , #{userId} AS INSERT_NO
	    , NOW() AS INSERT_DATE
	FROM TB_TERMS
	WHERE 1=1
	  AND TERMS_ID = #{systValDCd}
    </update>
</mapper>