<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prafta.web.attd.attd05.mapper.Attd05Mapper">

	<resultMap id="UserInfoMap" type="com.prafta.web.attd.attd05.result.UserResult">
	  <constructor>
	    <!-- record component 순서/이름과 맞추는 게 안전 -->
	    <arg name="chk"       	column="chk"        javaType="java.lang.String"/>
	    <arg name="cmpnyCd"   	column="cmpnyCd"    javaType="java.lang.String"/>
	    <arg name="userCd"    	column="userCd"     javaType="java.lang.String"/>
	    <arg name="userId"    	column="userId"     javaType="java.lang.String"/>
	    <arg name="userNm"    	column="userNm"     javaType="java.lang.String"/>
	    <arg name="siteCd"   	column="siteCd" 	javaType="java.lang.String"/>
	    <arg name="nodeCd" 		column="nodeCd" 	javaType="java.lang.String"/>
	    <arg name="nodeNm"    	column="nodeNm"     javaType="java.lang.String"/>
	    <arg name="shiftTeam"   column="shiftTeam"  javaType="java.lang.String"/>
	
	    <!-- TypeHandler 적용: record도 constructor arg에 가능 -->
	    <arg name="mblNo"   column="mblNo"   javaType="java.lang.String"
	         typeHandler="com.prafta.common.security.crypto.mybatis.AesGcmDecryptTypeHandler"/>
	  </constructor>
	</resultMap>

    <select id="selectUserList" parameterType="com.prafta.web.attd.attd05.application.query.UserWorkPlansQuery" resultMap="UserInfoMap">
    /* Attd05Mapper.selectUserList */
	WITH RECURSIVE 
		node_tree AS (
		    /* 로그인 사용자의 node 부터 시작 */
		    SELECT 
				N.CMPNY_CD
	            , N.SITE_CD
	            , N.NODE_CD
	            , N.NODE_NM
		    FROM TB_SITE_NODE N
			WHERE N.CMPNY_CD = #{gvCmpnyCd}
			  AND N.SITE_CD  = #{siteCd}
		      AND N.NODE_CD  = #{nodeCd}
		
		    UNION ALL
		
		    /* 하위 노드 무한 확장 */
		    SELECT 
				C.CMPNY_CD
	            , C.SITE_CD
	            , C.NODE_CD
	            , C.NODE_NM
		    FROM TB_SITE_NODE C
		    INNER JOIN node_tree P
		        ON C.CMPNY_CD = P.CMPNY_CD
		       AND C.SITE_CD  = P.SITE_CD
		       AND C.PARENT_NODE_CD = P.NODE_CD
		)
	
	SELECT 
		'' 				AS chk
		, A.CMPNY_CD	AS cmpnyCd
	    , A.USER_CD		AS userCd
		, A.USER_ID		AS userId
	    , A.USER_NM		AS userNm
	    , A.SITE_CD		AS siteCd
	    , A.NODE_CD		AS nodeCd
	    , B.NODE_NM		AS nodeNm
	    , '' 			AS shiftTeam
	    , A.MBL_NO_ENC	AS mblNo
	FROM TB_USER A
		 INNER JOIN node_tree B
			ON (
				A.CMPNY_CD = B.CMPNY_CD
			AND A.SITE_CD = B.SITE_CD
	        AND A.NODE_CD = B.NODE_CD
	        )
	WHERE A.ACCOUNT_STATUS != '03'
	  <if test="userNm != null and userNm != ''">
	  	AND A.USER_NM LIKE CONCAT('%', #{userNm}, '%')
	  </if>
	  <if test='"N".equals(incSubNodeYn)'>
	  	AND A.NODE_CD = #{nodeCd}
	  </if>
    </select>
    
    <select id="selectDayList" parameterType="com.prafta.web.attd.attd05.application.query.UserWorkPlansQuery" resultType="com.prafta.web.attd.attd05.result.DayResult">
    /* Attd05Mapper.selectDayList */
    WITH RECURSIVE date_range AS (
	    SELECT STR_TO_DATE(CONCAT(REPLACE(#{workYm}, '-', ''), '01'), '%Y%m%d') AS dt
	    UNION ALL
	    SELECT DATE_ADD(dt, INTERVAL 1 DAY)
	    FROM date_range
	    WHERE DATE_ADD(dt, INTERVAL 1 DAY) <![CDATA[ <= ]]> LAST_DAY(STR_TO_DATE(CONCAT(REPLACE(#{workYm}, '-', ''), '01'), '%Y%m%d'))
	)
	SELECT
	    DATE_FORMAT(d.dt, '%Y%m%d')                             AS workYmd
	    , CASE DAYOFWEEK(d.dt)
            WHEN 1 THEN '일'
            WHEN 2 THEN '월'
            WHEN 3 THEN '화'
            WHEN 4 THEN '수'
            WHEN 5 THEN '목'
            WHEN 6 THEN '금'
            WHEN 7 THEN '토'
		END dow		<!-- day of week -->
	    , CASE
	        WHEN h.HOLIDAY_YMD IS NOT NULL
	            THEN 'Y'
	        ELSE 'N'
	    END                                                     AS holidayYn
	    , h.HOLIDAY_NM                                          AS holidayNm
	    , h.HOLIDAY_TYPE                                        AS holidayType
	    , CASE
	        WHEN DAYOFWEEK(d.dt) IN (1, 7)                      -- 1:일요일, 7:토요일
	            THEN 'Y'
	        ELSE 'N'
	    END                                                     AS weekendYn
	FROM date_range d
	LEFT JOIN TB_HOLIDAY h
	    ON h.CMPNY_CD     = #{gvCmpnyCd}
	    AND h.HOLIDAY_YMD = d.dt
	    AND h.USE_YN      = 'Y'
    </select>

	<select id="selectSchedList" parameterType="com.prafta.web.attd.attd05.application.query.UserWorkPlansQuery" resultType="com.prafta.web.attd.attd05.result.SchedResult">
    /* Attd05Mapper.selectSchedList */
    SELECT 
		A.CMPNY_CD 			AS cmpnyCd
	    , A.SITE_CD			AS siteCd
	    , A.USER_CD 		AS userCd
	    , A.WORK_YMD		AS wrkYmd
	    , A.WORK_PLAN_CD	AS workPlanCd
	FROM TB_USER_WORK_PLAN A
	WHERE A.CMPNY_CD = #{gvCmpnyCd}
	  AND A.SITE_CD = #{siteCd}
    </select>
    
    <select id="selectSchTypeList" parameterType="com.prafta.web.attd.attd05.application.query.SchListQuery" resultType="com.prafta.web.attd.attd05.result.SchTypeResult">
    /* Attd05Mapper.selectSchList */
    SELECT
		A.CMPNY_CD		AS cmpnyCd
	    , A.SITE_CD		AS siteCd
	    , A.SCH_CD		AS schCd
	    , A.SCH_NO		AS schNo
	    , CASE
			WHEN SCH_TYPE = '01'
				THEN CONCAT(
					SUBSTRING(A.FST_SCH_STR_TIME, 1, 2), ':'
                    , SUBSTRING(A.FST_SCH_STR_TIME, 3, 2), '~'
                    , SUBSTRING(A.FST_SCH_END_TIME, 1, 2), ':'
                    , SUBSTRING(A.FST_SCH_END_TIME, 3, 2))
			ELSE 
				CONCAT(
	                SUBSTRING(A.FST_SCH_STR_TIME, 1, 2), ':'
                    , SUBSTRING(A.FST_SCH_STR_TIME, 3, 2), '~'
                    , SUBSTRING(A.FST_SCH_END_TIME, 1, 2), ':'
                    , SUBSTRING(A.FST_SCH_END_TIME, 3, 2), '\n'
                    , SUBSTRING(A.SEC_SCH_STR_TIME, 1, 2), ':'
                    , SUBSTRING(A.SEC_SCH_STR_TIME, 3, 2), '~'
                    , SUBSTRING(A.SEC_SCH_END_TIME, 1, 2), ':'
                    , SUBSTRING(A.SEC_SCH_END_TIME, 3, 2)
	            )
		END schNm
	FROM TB_SCH_MGMT A
	WHERE A.CMPNY_CD = #{gvCmpnyCd}
	  AND A.SITE_CD = #{siteCd}
    </select>
    
    <select id="selectSchTypeUseYnList" parameterType="com.prafta.web.attd.attd05.application.query.SchListQuery" resultType="com.prafta.web.attd.attd05.result.SchTypeUseYnResult">
    /* Attd05Mapper.selectSchTypeUseYnList */
    /* 근무타입(SCH_CD) effective-dating 검증용 버전 목록.
       TB_SCH_MGMT(현재본) 과 TB_SCH_MGMT_HIST(이력본)를 UNION 으로 합쳐
       동일 SCH_CD + APPLY_DATE 가 중복되면 HIST_IDX 최댓값 1건만 채택한다.
       attd07 과 달리 USE_YN='N' 버전도 차단 근거로 살려야 하므로 USE_YN 필터를 걸지 않고
       USE_YN 을 컬럼으로 SELECT 해 판정에 사용한다. */
    SELECT
          E.SCH_CD       AS schCd
        , E.APPLY_DATE   AS applyDate
        , E.USE_YN       AS useYn
    FROM (
        /* 현재본 (HIST_IDX 를 최댓값으로 두어 동일 APPLY_DATE 중복 시 현재본 우선) */
        SELECT
              M.CMPNY_CD
            , M.SITE_CD
            , M.SCH_CD
            , M.APPLY_DATE
            , M.USE_YN
            , 2147483647 AS HIST_IDX
        FROM TB_SCH_MGMT M
        WHERE M.CMPNY_CD = #{gvCmpnyCd}
          AND M.SITE_CD  = #{siteCd}

        UNION ALL

        /* 이력본 */
        SELECT
              H.CMPNY_CD
            , H.SITE_CD
            , H.SCH_CD
            , H.APPLY_DATE
            , H.USE_YN
            , H.HIST_IDX
        FROM TB_SCH_MGMT_HIST H
        WHERE H.CMPNY_CD = #{gvCmpnyCd}
          AND H.SITE_CD  = #{siteCd}
    ) E
    /* 동일 SCH_CD + APPLY_DATE 그룹에서 HIST_IDX 최댓값 행만 채택 */
    WHERE E.HIST_IDX = (
        SELECT MAX(E2.HIST_IDX)
        FROM (
            SELECT M2.CMPNY_CD, M2.SITE_CD, M2.SCH_CD, M2.APPLY_DATE, 2147483647 AS HIST_IDX
            FROM TB_SCH_MGMT M2
            WHERE M2.CMPNY_CD = #{gvCmpnyCd}
              AND M2.SITE_CD  = #{siteCd}
            UNION ALL
            SELECT H2.CMPNY_CD, H2.SITE_CD, H2.SCH_CD, H2.APPLY_DATE, H2.HIST_IDX
            FROM TB_SCH_MGMT_HIST H2
            WHERE H2.CMPNY_CD = #{gvCmpnyCd}
              AND H2.SITE_CD  = #{siteCd}
        ) E2
        WHERE E2.CMPNY_CD   = E.CMPNY_CD
          AND E2.SITE_CD    = E.SITE_CD
          AND E2.SCH_CD     = E.SCH_CD
          AND E2.APPLY_DATE = E.APPLY_DATE
    )
    ORDER BY E.SCH_CD, E.APPLY_DATE
    </select>

    <select id="selectLeaveTypeList" parameterType="com.prafta.web.attd.attd05.application.query.LeaveTypeListQuery" resultType="com.prafta.web.attd.attd05.result.LeaveTypeResult">
    /* Attd05Mapper.selectLeaveTypeList */
    SELECT 
		A.CMPNY_CD		AS cmpnoyCd
	    , A.LEAVE_CD	AS leaveCd
	    , A.LEAVE_NO	AS leaveNo
	    , A.LEAVE_NM	AS leaveNm
	FROM TB_LEAVE_TYPE_MGMT A
	WHERE A.CMPNY_CD = #{gvCmpnyCd}
    </select>
    
    <update id="saveUserWorkPlans" parameterType="com.prafta.web.attd.attd05.application.command.SchTypeCommand">
    /* Attd05Mapper.saveUserWorkPlans */
	INSERT INTO TB_USER_WORK_PLAN (
	    CMPNY_CD
	    , SITE_CD
	    , USER_CD
	    , WORK_YMD
	    , WORK_PLAN_CD
	    , INSERT_NO
	    , INSERT_DATE
	    , UPDATE_NO
	    , UPDATE_DATE
	) VALUES (
	    #{gvCmpnyCd}
	    , #{siteCd}
	    , #{userCd}
	    , #{workYmd}
	    , #{workPlanCd}
	    , #{gvUserCd}
	    , NOW()
	    , #{gvUserCd}
	    , NOW()
	) AS NEW
	ON DUPLICATE KEY UPDATE
		WORK_PLAN_CD	= NEW.WORK_PLAN_CD
	    , UPDATE_NO		= NEW.UPDATE_NO
	    , UPDATE_DATE	= NOW()
    </update>
    
    <delete id="deleteUserWorkPlans" parameterType="com.prafta.web.attd.attd05.application.command.SchTypeDeleCommand">
    /* Attd05Mapper.deleteUserWorkPlans */
    DELETE FROM TB_USER_WORK_PLAN
    WHERE CMPNY_CD = #{gvCmpnyCd}
      AND SITE_CD = #{siteCd}
      AND USER_CD = #{userCd}
      AND WORK_YMD LIKE CONCAT(replace(#{workYm},'-', ''), '%')
    
	</delete>
</mapper>
