<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prafta.web.user.user02.mapper.User02Mapper">

    <select id="selectAuthMenuList" parameterType="com.prafta.web.user.user02.application.query.AuthMenuListQuery" resultType="com.prafta.web.user.user02.result.AuthMenuResult">
    /* User02Mapper.selectAuthMenuList */
    SELECT
    	'' 				AS chk
    	, A.MENU_M_ID	AS menuMId
    	, A.MENU_M_NM	AS menuMNm
    	, A.MENU_SRC	AS menuSrc
    	, A.MENU_D_ID	AS menuDId
    	, A.MENU_D_NM	AS menuDNm
    	, A.USE_YN		AS useYn
    	, A.BTN_SRCH	AS btnSrch
    	, A.BTN_NEW		AS btnNew
    	, A.BTN_DELT	AS btnDel
    	, A.BTN_SAVE	AS btnSave
    	, A.BTN_EXCL	AS btnExcl
    FROM
    (
	    SELECT 
			A.MENU_M_ID
		    , A.MENU_NM AS MENU_M_NM
		    , A.MENU_SRC
		    , B.MENU_D_ID
		    , B.MENU_NM AS MENU_D_NM
		    , IFNULL(C.USE_YN, 'N') AS USE_YN
		    , IFNULL(C.BTN_SRCH, 'N') AS BTN_SRCH
		    , IFNULL(C.BTN_NEW, 'N') AS BTN_NEW
		    , IFNULL(C.BTN_DELT, 'N') AS BTN_DELT
		    , IFNULL(C.BTN_SAVE, 'N') AS BTN_SAVE
		    , IFNULL(C.BTN_EXCL, 'N') AS BTN_EXCL
		FROM TB_SYST_MENU_M A
		     INNER JOIN TB_SYST_MENU_D B
				ON (
					A.MENU_M_ID = B.MENU_M_ID
				AND A.USE_YN = B.USE_YN
				<if test="menuDNm != null and menuDNm != ''">
			  	  AND B.MENU_NM LIKE CONCAT('%', #{menuDNm}, '%')
				</if>
		        )
			LEFT JOIN TB_SYST_AUTH_MENU C
				ON (
					C.CMPNY_CD = #{gvCmpnyCd}
				AND B.MENU_D_ID = C.MENU_D_ID
		        AND C.AUTH_CD = #{authCd}
		        )
		WHERE 1=1
	    <if test="menuMNm != null and menuMNm != ''">
	  	  AND A.MENU_NM LIKE CONCAT('%', #{menuMNm}, '%')
		</if>
	) A
	WHERE 1=1
	<if test="useYn != null and useYn != ''">
	  AND A.USE_YN = #{useYn}
	</if>
    ORDER BY A.MENU_SRC, A.MENU_M_ID, A.MENU_D_ID	
	</select>
	
	<insert id="mergeAuthMenuInfo" parameterType="com.prafta.web.user.user02.application.command.AuthMenuInfoCommand">
	/* User02Mapper.mergeAuthMenuInfo */
    INSERT INTO TB_SYST_AUTH_MENU (
    	CMPNY_CD
    	, AUTH_CD
    	, MENU_D_ID
    	, USE_YN
    	, BTN_SRCH
    	, BTN_NEW
    	, BTN_DELT
    	, BTN_SAVE
    	, BTN_EXCL
    	, INSERT_NO
    	, INSERT_DATE
    	, UPDATE_NO
    	, UPDATE_DATE
   	)
   	VALUES(
   		#{gvCmpnyCd}
   		, #{authCd}
   		, #{menuDId}
   		, #{useYn}
   		, #{btnSrch}
		, #{btnNew}
		, #{btnDel}
		, #{btnSave}
		, #{btnExcl}
		, #{gvUserCd}
		, now()
		, #{gvUserCd}
		, now() 
   	) AS NEW
   	ON DUPLICATE KEY UPDATE
	    USE_YN     		= NEW.USE_YN
	    , BTN_SRCH      = NEW.BTN_SRCH
	    , BTN_NEW      	= NEW.BTN_NEW
	    , BTN_DELT     	= NEW.BTN_DELT
	    , BTN_SAVE      = NEW.BTN_SAVE
	    , BTN_EXCL    	= NEW.BTN_EXCL
	    , UPDATE_NO   	= NEW.UPDATE_NO
	    , UPDATE_DATE 	= NOW()
	</insert>
</mapper>