<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prafta.web.user.user02.mapper.User02Mapper">

    <select id="selectAuthMenuList" parameterType="com.prafta.web.user.user02.dto.User02ReqDto" resultType="map">
    /* User02Mapper.selectAuthMenuList */
    SELECT
    	'' AS CHK
    	, A.MENU_M_ID
    	, A.MENU_M_NM
    	, A.MENU_SRC
    	, A.MENU_D_ID
    	, A.MENU_D_NM
    	, A.USE_YN
    	, A.BTN_SRCH
    	, A.BTN_NEW
    	, A.BTN_DELT
    	, A.BTN_SAVE
    	, A.BTN_EXCL
    FROM
    (
	    SELECT 
			A.MENU_M_ID
		    , A.MENU_NM AS MENU_M_NM
		    , A.MENU_SRC
		    , B.MENU_D_ID
		    , B.MENU_NM AS MENU_D_NM
		    , IFNULL(C.USE_YN, 'N') AS USE_YN
		    , IFNULL(C.BTN_SRCH, 'N') AS BTN_SRCH
		    , IFNULL(C.BTN_NEW, 'N') AS BTN_NEW
		    , IFNULL(C.BTN_DELT, 'N') AS BTN_DELT
		    , IFNULL(C.BTN_SAVE, 'N') AS BTN_SAVE
		    , IFNULL(C.BTN_EXCL, 'N') AS BTN_EXCL
		FROM TB_SYST_MENU_M A
		     INNER JOIN TB_SYST_MENU_D B
				ON (
					A.MENU_M_ID = B.MENU_M_ID
				AND A.USE_YN = B.USE_YN
				<if test="param.sr_menuDNm != null and param.sr_menuDNm != ''">
			  	  AND B.MENU_NM LIKE CONCAT('%', #{param.sr_menuDNm}, '%')
				</if>
		        )
			LEFT JOIN TB_SYST_AUTH_MENU C
				ON (
					C.CMPNY_CD = #{token.gv_cmpnyCd}
				AND B.MENU_D_ID = C.MENU_D_ID
		        AND C.AUTH_CD = #{param.sr_authCd}
		        )
		WHERE 1=1
	    <if test="param.sr_menuMNm != null and param.sr_menuMNm != ''">
	  	  AND A.MENU_NM LIKE CONCAT('%', #{param.sr_menuMNm}, '%')
		</if>
	) A
	WHERE 1=1
	<if test="param.sr_useYn != null and param.sr_useYn != ''">
	  AND A.USE_YN = #{param.sr_useYn}
	</if>
	</select>
	
	<insert id="mergeAuthMenuInfo">
	/* User02Mapper.mergeAuthMenuInfo */
    INSERT INTO TB_SYST_AUTH_MENU (
    	CMPNY_CD
    	, AUTH_CD
    	, MENU_D_ID
    	, USE_YN
    	, BTN_SRCH
    	, BTN_NEW
    	, BTN_DELT
    	, BTN_SAVE
    	, BTN_EXCL
    	, INSERT_NO
    	, INSERT_DATE
    	, UPDATE_NO
    	, UPDATE_DATE
   	)
   	VALUES(
   		#{token.gv_cmpnyCd}
   		, #{param.authCd}
   		, #{param.menuDId}
   		, #{param.useYn}
   		, #{param.btnSrch}
		, #{param.btnNew}
		, #{param.btnDelt}
		, #{param.btnSave}
		, #{param.btnExcl}
		, #{token.gv_userId}
		, now()
		, #{token.gv_userId}
		, now() 
   	)
   	ON DUPLICATE KEY UPDATE
	    USE_YN     		= VALUES(USE_YN)
	    , BTN_SRCH      = VALUES(BTN_SRCH)
	    , BTN_NEW      	= VALUES(BTN_NEW)
	    , BTN_DELT     	= VALUES(BTN_DELT)
	    , BTN_SAVE      = VALUES(BTN_SAVE)
	    , BTN_EXCL    	= VALUES(BTN_EXCL)
	    , UPDATE_NO   	= #{token.gv_userId}
	    , UPDATE_DATE 	= NOW()
	</insert>
</mapper>