<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prafta.web.baim.baim04.mapper.Baim04Mapper">

	<select id="selectDailyUserLinkPolicyList" parameterType="com.prafta.web.baim.baim04.application.query.DailyUserLinkPoliciesQuery" resultType="com.prafta.web.baim.baim04.result.DailyUserLinkPolicyResult">
    /* Baim04Mapper.selectDailyUserLinkPolicyList */
    SELECT
    	'' 						AS chk 
		, A.CMPNY_CD			AS cmpnyCd
	    , A.SITE_CD				AS siteCd
	    , A.SITE_NO				AS siteNo
	    , A.SITE_NM				AS siteNm
	    , A.USE_YN				AS useYn
	    , A.DAY_LIMIT_CNT		AS dayLimitCnt
	    , CONCAT(
	    	A.CMPNY_CD
	    	, '-'
	    	, A.SITE_CD
    	) 						AS joinCd
   	FROM 
   	(
		SELECT 
			A.CMPNY_CD
		    , A.SITE_CD
		    , A.SITE_NO
		    , A.SITE_NM
		    , IFNULL(B.USE_YN, 'N') AS USE_YN
		    , B.DAY_LIMIT_CNT
		FROM TB_SITE A
			 LEFT OUTER JOIN TB_DAILY_USER_LINK_POLICY B
				ON (
					A.CMPNY_CD = B.CMPNY_CD
				AND A.SITE_CD = B.SITE_CD
		        )
		WHERE A.CMPNY_CD = #{gvCmpnyCd}
		  <if test="siteCd != null and siteCd != ''">
	   	  	AND A.SITE_CD = #{siteCd}
	   	  </if>
	) A
	WHERE 1=1
	  <if test="useYn != null and useYn != ''">
 	    AND A.USE_YN = #{useYn}
  	  </if>
	
  	</select>
  
  	<update id="saveDailyUserLinkPolicy" parameterType="com.prafta.web.baim.baim04.application.command.LinkPoliciesCommand">
  
	/* Baim04Mapper.saveDailyUserLinkPolicy */
    INSERT INTO TB_DAILY_USER_LINK_POLICY (
    	CMPNY_CD
    	, SITE_CD
    	, USE_YN
    	, DAY_LIMIT_CNT
    	, INSERT_NO
    	, INSERT_DATE
    	, UPDATE_NO
    	, UPDATE_DATE
   	)
   	VALUES(
   		#{gvCmpnyCd}
   		, #{siteCd}
		, IFNULL(#{useYn}, 'Y')
		, #{dayLimitCnt}
		, #{gvUserCd}
		, now()
		, #{gvUserCd}
		, now() 
   	) AS NEW
   	ON DUPLICATE KEY UPDATE
	    USE_YN			= IFNULL(NEW.USE_YN, 'Y')
	    , DAY_LIMIT_CNT = NEW.DAY_LIMIT_CNT
	    , UPDATE_NO   	= NEW.UPDATE_NO
	    , UPDATE_DATE 	= NOW()
	</update>
	
	<select id="selectDailyUserSlotCnt" parameterType="com.prafta.web.baim.baim04.application.param.UserSlotCountQuery" resultType="integer">
    /* Baim04Mapper.selectDailyUserSlotCnt */
    SELECT COUNT(*) 
    FROM TB_DAILY_USER_SLOT
	WHERE CMPNY_CD = #{gvCmpnyCd}
	  AND SITE_CD = #{siteCd}
    </select>
	
	<update id="saveDailyUserSlot" parameterType="com.prafta.web.baim.baim04.application.command.DailyUserSlotCommand">
	/* Baim04Mapper.saveDailyUserSlot */
	INSERT INTO TB_DAILY_USER_SLOT (
    	CMPNY_CD
    	, SITE_CD
    	, SLOT_NO
    	, SLOT_TYPE
    	, FIXED_YN
    	, USE_YN
    	, CURR_USER_CD
    	, SLOT_STATUS
    	, INSERT_NO
    	, INSERT_DATE
    	, UPDATE_NO
    	, UPDATE_DATE
   	)
   	VALUES(
   		#{gvCmpnyCd}
   		, #{siteCd}
   		, #{slotNo}
   		, #{slotType}
   		, 'N'
		, 'Y'
		, ''
		, #{slotStatus}
		, #{gvUserCd}
		, now()
		, #{gvUserCd}
		, now() 
   	) AS NEW
   	ON DUPLICATE KEY UPDATE
   		USE_YN		= IFNULL(NEW.USE_YN, 'Y')
	    , UPDATE_NO   	= NEW.UPDATE_NO
	    , UPDATE_DATE 	= NOW()
	</update>
	
	
	
	<delete id="deleteDailyUserLinkPolicy" parameterType="com.prafta.web.baim.baim04.application.command.LinkPoliciesCommand">
	/* Baim04Mapper.deleteDailyUserLinkPolicy */
	DELETE FROM TB_DAILY_USER_LINK_POLICY
	WHERE CMPNY_CD = #{gvCmpnyCd}
	  AND SITE_CD = #{siteCd}
	</delete>
	
</mapper>