<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prafta.web.risk.risk03.mapper.Risk03Mapper">

	<select id="selectRiskTypeList" parameterType="map" resultType="com.prafta.web.risk.risk03.vo.RiskType">
   	/* Risk03Mapper.selectRiskTypeList */
   	SELECT 
		'' AS PROCESS_CD
	    , '' AS RISK_TYPE_CD
	    , '전체' AS RISK_TYPE_NM
	FROM DUAL
	
	UNION 
	
   	SELECT 
		PROCESS_CD
	    , RISK_TYPE_CD
	    , RISK_TYPE_NM
	FROM TB_RISK_TYPE
	WHERE CMPNY_CD = #{token.gv_cmpnyCd}
	  AND USE_YN = 'Y'
    </select>
    
    <select id="selectRiskAssessmentsLists" parameterType="map" resultType="com.prafta.web.risk.risk03.vo.RiskAssessment">
   	/* Risk03Mapper.selectRiskAssessmentsLists */
   	SELECT 
   		'' 																			AS chk
		, A.CMPNY_CD																AS cmpnyCd
	    , A.SITE_CD																	AS siteCd
	    , A.PROCESS_CD																AS processCd
	    , C.BAIM_VAL_D_NM															AS processNm
	    , A.RISK_TYPE_CD															AS riskTypeCd
	    , D.RISK_TYPE_NM															AS riskTypeNm
	    , A.HAZARD_CD																AS hazardCd
	    , CASE
			WHEN A.HAZARD_CD = 'self'
				THEN A.ASSESSMENT_DESC
			ELSE E.HAZARD_NM
		END hazardNm
	    , A.ASSESSMENT_CD															AS assessmentCd
	    , A.ASSESSMENT_STATUS														AS assessmentStatus
	    , B.SYST_VAL_D_NM															AS assessmentStatusNm
	    , A.INIT_LIKELIHOOD_SCORE													AS initLikelihoodScore
        , A.INIT_SEVERITY_SCORE														AS initSeverityScore
	    , A.INIT_RISK_LV															AS initRiskLv
	    , A.INIT_DESC																AS initDesc
	    , A.INIT_ASSESSOR_ID														AS initAssessorId
	    , FNC_CMM_INFO_SRCH(A.CMPNY_CD, 'USER', A.INIT_ASSESSOR_ID, NULL) 			AS initAssessorNm
	    , A.INIT_ASSESS_DATE														AS initAssessDate
	    , FNC_CMM_INFO_SRCH(A.CMPNY_CD, 'FILE_NAME', A.INIT_FILE_MGMT_CD, NULL)		AS initFileMgmtCd
        , FNC_CMM_INFO_SRCH(A.CMPNY_CD, 'FILE_PATH', A.INIT_FILE_MGMT_CD. NULL)		AS initFilePath
        , A.REVAL_DATE																AS revalDate
        , A.REVAL_BEFORE_DESC														AS revalBeforeDesc
	    , A.REVAL_LIKELIHOOD_SCORE													AS revalLikelihoodScore
        , A.REVAL_SEVERITY_SCORE													AS revalSeverityScore
	    , A.REVAL_RISK_LV															AS revalRiskLv
	    , A.REVAL_DESC																AS revalDesc
	    , A.REVAL_ASSESSOR_ID														AS revalAssessorId
	    , FNC_CMM_INFO_SRCH(A.CMPNY_CD, 'USER', A.REVAL_ASSESSOR_ID, NULL)			AS revalAssessorNm
	    , A.REVAL_ASSESS_DATE														AS revalAssessDate
	    , FNC_CMM_INFO_SRCH(A.CMPNY_CD, 'FILE_NAME', A.REVAL_FILE_MGMT_CD, NULL)	AS revalFileMgmtCd
        , FNC_CMM_INFO_SRCH(A.CMPNY_CD, 'FILE_PATH', A.REVAL_FILE_MGMT_CD, NULL)	AS revalFilePath
	FROM TB_RISK_ASSESSMENT A
		 INNER JOIN (
			SELECT 
				A.SYST_VAL_D_CD
	            , A.SYST_VAL_D_NM
			FROM TB_SYST_VAL_D A
			WHERE A.SYST_VAL_CD = 'SYS011'
	          AND A.USE_YN = 'Y'
	     ) B
			 ON (
				A.ASSESSMENT_STATUS = B.SYST_VAL_D_CD
			 )
	     INNER JOIN (
			SELECT 
				A.BAIM_VAL_D_CD
				, A.BAIM_VAL_D_NM
			FROM TB_BAIM_VAL_D A
			WHERE A.CMPNY_CD = #{token.gv_cmpnyCd}
			  AND A.BAIM_VAL_CD = 'COM002'
			  AND A.USE_YN = 'Y'
	     ) C
			ON (
				A.PROCESS_CD = C.BAIM_VAL_D_CD
	        )
		INNER JOIN TB_RISK_TYPE D
			ON (
				A.CMPNY_CD = D.CMPNY_CD
			AND A.RISK_TYPE_CD = D.RISK_TYPE_CD
	        )
		LEFT OUTER JOIN TB_RISK_SITE_HAZARD E
			ON (
				A.CMPNY_CD = E.CMPNY_CD
			AND A.RISK_TYPE_CD = E.RISK_TYPE_CD
	        AND A.HAZARD_CD = E.HAZARD_CD
	        )
	WHERE 1=1
	  <if test="param.siteCd != null and param.siteCd != ''">
	  	AND A.SITE_CD = #{param.siteCd}
	  </if>
	  <if test="param.assessmentStatus != null and param.assessmentStatus != ''">
	  	AND A.ASSESSMENT_STATUS = #{param.assessmentStatus}
	  </if>
	  <if test="param.processCd != null and param.processCd != ''">
	  	AND A.PROCESS_CD = #{param.processCd}
	  </if>
	  <if test="param.riskTypeCd != null and param.riskTypeCd != ''">
	  	AND A.RISK_TYPE_CD = #{param.riskTypeCd}
	  </if>
	ORDER BY A.ASSESSMENT_STATUS, A.SITE_CD, A.PROCESS_CD, A.RISK_TYPE_CD, A.HAZARD_CD
   	</select>
   	
   	<update id="updateAssessment" parameterType="com.prafta.web.risk.risk03.dto.SaveAssessmentQry">
	/* Risk01Mapper.updateAssessment */
	UPDATE TB_RISK_ASSESSMENT
	SET
		ASSESSMENT_STATUS			= #{param.assessmentStatus}		
		, INIT_LIKELIHOOD_SCORE 	= #{param.initLikelihoodScore}
	    , INIT_SEVERITY_SCORE 		= #{param.initSeverityScore}
	    , INIT_RISK_LV 				= #{param.initRiskLv}
		, REVAL_DATE 				= REPLACE(#{param.revalDate}, '-', '')
		, REVAL_BEFORE_DESC			= #{param.revalBeforeDesc}
	    , REVAL_LIKELIHOOD_SCORE 	= #{param.revalLikelihoodScore}
	    , REVAL_SEVERITY_SCORE 		= #{param.revalSeverityScore}
	    , REVAL_RISK_LV 			= #{param.revalRiskLv}
	    , REVAL_DESC 				= #{param.revalDesc}
	    , REVAL_FILE_MGMT_CD 		= #{param.revalFileMgmtCd}
	    , REVAL_ASSESSOR_ID 		= #{token.gv_userId}
	    , REVAL_ASSESS_DATE 		= NOW()
	    , UPDATE_NO   				= #{token.gv_userId}
		, UPDATE_DATE 				= NOW()
	WHERE CMPNY_CD = #{token.gv_cmpnyCd}
	  AND SITE_CD = #{param.siteCd}
	  AND ASSESSMENT_CD = #{param.assessmentCd}
	  AND PROCESS_CD = #{param.processCd}
	</update>
</mapper>