<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prafta.web.baim.baim02.mapper.Baim02Mapper">

    <select id="selectCompCmmCodeMList" parameterType="com.prafta.web.baim.baim02.application.query.CompCmmCodeMListQuery" resultType="com.prafta.web.baim.baim02.result.CompCmmCodeMResult">
    /* Baim02Mapper.selectCompCmmCodeMList */
    SELECT
    	'' 				AS chk
    	, CMPNY_CD		AS cmpnyCd
    	, BAIM_VAL_CD	AS baimValCd
    	, BAIM_VAL_NM	AS baimValNm
    	, USE_YN		AS useYn
    	, VAL_INFO_1	AS valInfo1
    	, VAL_INFO_2	AS valInfo2
    	, VAL_DESC		AS valDesc
   	FROM TB_BAIM_VAL_M
   	WHERE 1=1
   	  AND CMPNY_CD = #{gvCmpnyCd}
   	  AND USE_YN = 'Y'
   	  <if test="codeNm != null and codeNm != ''">
   	  	AND BAIM_VAL_NM LIKE CONCAT('%', #{codeNm}, '%')
   	  </if>
	</select>
	
	<select id="selectCompCmmCodeDList" parameterType="com.prafta.web.baim.baim02.application.query.CompCmmCodeDListQuery" resultType="com.prafta.web.baim.baim02.result.CompCmmCodeDResult">
    /* Baim02Mapper.selectCompCmmCodeDList */
    SELECT
    	'' 					AS chk
    	, A.CMPNY_CD		AS cmpnyCd
    	, A.BAIM_VAL_CD		AS baimValCd
    	, B.BAIM_VAL_D_CD	AS baimValDCd
    	, B.BAIM_VAL_D_NM 	AS baimValDNm
    	, B.SORT_IDX		AS sortIdx
    	, B.USE_YN			AS useYn
    	, B.VAL_D_INFO_1	AS valDInfo1
    	, B.VAL_D_INFO_2	AS valDInfo2
    	, B.VAL_D_DESC		AS valDDesc
   	FROM TB_BAIM_VAL_M A
   		 INNER JOIN TB_BAIM_VAL_D B
   		 	ON (
   		 		A.CMPNY_CD = B.CMPNY_CD
 		 	AND A.BAIM_VAL_CD = B.BAIM_VAL_CD
 		 	AND (B.VAL_D_INFO_1 IS NULL OR B.VAL_D_INFO_1 != 'manage')					/* 관리 코드는 조회 제외 */
 		 	AND B.USE_YN = 'Y'
   		 	)
   	WHERE 1=1
   	  AND A.CMPNY_CD = #{gvCmpnyCd}
   	  AND A.USE_YN = 'Y'
   	  AND A.BAIM_VAL_CD = #{codeCd}
   	ORDER BY B.SORT_IDX
	</select>
	
	<insert id="mergeCmmCodeDetailInfo" parameterType="com.prafta.web.baim.baim02.application.command.CompCmmCodeDCommand">
	/* Baim02Mapper.mergeCmmCodeDetailInfo */	
    INSERT INTO TB_BAIM_VAL_D (
    	CMPNY_CD
    	, BAIM_VAL_CD
    	, BAIM_VAL_D_CD
    	, BAIM_VAL_D_NM
    	, SORT_IDX
    	, USE_YN
    	, VAL_D_INFO_1
    	, VAL_D_INFO_2
    	, VAL_D_DESC
    	, INSERT_NO
    	, INSERT_DATE
    	, UPDATE_NO
    	, UPDATE_DATE
   	)
   	VALUES(
   		#{gvCmpnyCd}
   		, #{baimValCd}
   		, IFNULL(#{baimValDCd}, FNC_CMM_SEQ_NEXTVAL(#{gvCmpnyCd}, #{baimValCd}))
   		, #{baimValDNm}
   		, #{sortIdx}
		, #{useYn}
		, #{valDInfo1}
		, #{valDInfo2}
		, #{valDDesc}
		, #{gvUserCd}
		, now()
		, #{gvUserCd}
		, now() 
   	) AS NEW
   	ON DUPLICATE KEY UPDATE
	    USE_YN     		= NEW.USE_YN
	    , BAIM_VAL_D_NM = NEW.BAIM_VAL_D_NM
	    , SORT_IDX		= NEW.SORT_IDX
	    , USE_YN		= IFNULL(NEW.USE_YN, 'Y')
	    , VAL_D_INFO_1	= NEW.VAL_D_INFO_1
    	, VAL_D_INFO_2	= NEW.VAL_D_INFO_2
    	, VAL_D_DESC	= NEW.VAL_D_DESC
	    , UPDATE_NO   	= NEW.UPDATE_NO
	    , UPDATE_DATE 	= NOW()
	</insert>
	
	<update id="deleteCmmCodeDetailInfo" parameterType="com.prafta.web.baim.baim02.application.command.CompCmmCodeDCommand">
	/* Baim02Mapper.mergeCmmCodeDetailInfo */
	UPDATE TB_BAIM_VAL_D 
	SET USE_YN = 'N'
		, UPDATE_NO = #{gvUserCd}
		, UPDATE_DATE = now()
	WHERE CMPNY_CD = #{gvCmpnyCd}
	  AND BAIM_VAL_CD = #{baimValCd}
	  AND BAIM_VAL_D_CD = #{baimValDCd}
	
	</update>
</mapper>