<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prafta.web.attd.attd06.mapper.Attd06Mapper">

    <select id="selectShiftTeamUserInfos" parameterType="com.prafta.web.attd.attd06.application.query.ShiftTeamUserInfosQuery" resultType="com.prafta.web.attd.attd06.result.ShiftTeamUserInfosResult">
    /* Attd06Mapper.selectShiftTeamUserInfos */
    	WITH RECURSIVE 
			node_tree AS (
				/* 로그인 사용자의 node 부터 시작 */
				SELECT 
					N.CMPNY_CD
					, N.SITE_CD
					, N.NODE_CD
					, N.NODE_NM
				FROM TB_SITE_NODE N
				WHERE N.CMPNY_CD = #{gvCmpnyCd}
				  AND N.SITE_CD  = #{siteCd}
				  <choose>
				  	  <when test='"master".equals(gvAuthCd) or "hr".equals(gvAuthCd)'>
					  	AND N.NODE_CD  = 'n1'
					  </when>
					  <otherwise>
					  	AND N.NODE_CD = #{nodeCd}
					  </otherwise>
				  </choose>
				  
			
				UNION ALL
			
				/* 하위 노드 무한 확장 */
				SELECT 
					C.CMPNY_CD
					, C.SITE_CD
					, C.NODE_CD
					, C.NODE_NM
				FROM TB_SITE_NODE C
				INNER JOIN node_tree P
					ON C.CMPNY_CD = P.CMPNY_CD
				   AND C.SITE_CD  = P.SITE_CD
				   AND C.PARENT_NODE_CD = P.NODE_CD
			)
    
		SELECT 
			A.CMPNY_CD				AS cmpnyCd
		    , A.SITE_CD				AS siteCd
		    , A.SHIFT_CD			AS shiftCd
		    , FNC_CMM_INFO_SRCH(
				A.CMPNY_CD 
				, 'SHIFT_NO'
				, A.SITE_CD
				, A.SHIFT_CD
			) 						AS shiftNm
		    , A.SHIFT_TEAM_ID		AS shiftTeamId
		    , A.SHIFT_TEAM_NM		AS shiftTeamNm
		    , A.TEAM_IDX			AS teamIdx
		    , A.TEAM_NM				AS teamNm
		    , B.USER_CD				AS userCd
		    , B.USER_NM				AS userNm
	        , B.NODE_CD				AS nodeCd
		    , B.NODE_NM				AS nodeNm
		    , CASE 
				WHEN B.NODE_CD = C.NODE_CD
					THEN 'Y'
				ELSE 'N'
			END editableYn
		    , B.LEADER_YN			AS leaderYn
		    , A.STR_DATE			AS strDate
		    , A.END_DATE			AS endDate
		FROM (
			SELECT 
				A.CMPNY_CD
				, A.SITE_CD
				, A.SHIFT_CD
				, A.SHIFT_TEAM_ID
				, A.SHIFT_TEAM_NM
				, B.TEAM_IDX
				, B.TEAM_NM
				, A.STR_DATE
				, A.END_DATE
			FROM TB_SHIFT_SCH_TEAM_MGMT A
				 INNER JOIN TB_SHIFT_SCH_TEAM_META_INFO B
					ON (
						A.CMPNY_CD = B.CMPNY_CD
					AND A.SITE_CD = B.SITE_CD
					AND A.SHIFT_CD = B.SHIFT_CD 
					)
	    ) A
			 LEFT OUTER JOIN (		
					SELECT 
						A.CMPNY_CD
						, A.SITE_CD
						, A.SHIFT_CD
						, A.SHIFT_TEAM_ID
						, A.TEAM_IDX
						, C.TEAM_NM
						, A.USER_CD
						, B.USER_NM
						, B.NODE_CD
						, B.NODE_NM
						, A.LEADER_YN
					FROM TB_SHIFT_SCH_TEAM_USER A
						 INNER JOIN (
							SELECT 
								A.CMPNY_CD
								, A.USER_CD
								, A.USER_NM
								, A.SITE_CD
								, A.NODE_CD
								, B.NODE_NM
							FROM TB_USER A
								 LEFT OUTER JOIN TB_SITE_NODE B
									ON (
										A.CMPNY_CD = B.CMPNY_CD
									AND A.SITE_CD = B.SITE_CD
									AND A.NODE_CD = B.NODE_CD
									)
							WHERE A.CMPNY_CD = #{gvCmpnyCd}
							  AND A.SITE_CD = #{siteCd}
		
						 ) B
							ON (
								A.CMPNY_CD = B.CMPNY_CD
							AND A.SITE_CD = B.SITE_CD 
							AND A.USER_CD = B.USER_CD
							)
					INNER JOIN TB_SHIFT_SCH_TEAM_META_INFO C
						ON (
							A.CMPNY_CD = C.CMPNY_CD
						AND A.SITE_CD = C.SITE_CD
						AND A.SHIFT_CD = C.SHIFT_CD
						AND A.TEAM_IDX = C.TEAM_IDX
						)
					WHERE A.CMPNY_CD = #{gvCmpnyCd}
					  AND A.SITE_CD = #{siteCd}
					  <!--
					    prafta-com-016-D-1: 배정 현황(관리 탭)은 현 소속 조원만 표시한다.
					      - 조원 제거 = 행 보존 + LEAVE_TEAM_YMD 마킹(deleteShiftTeamUser UPDATE)이므로,
					        마킹 행을 거르지 않으면 탈퇴 조원이 계속 조인되어 화면에 잔존했다(결함).
					      - 생성 탭 후보 복귀(selectUserLists 의 NOT EXISTS ... LEAVE_TEAM_YMD IS NULL)와
					        "현 소속 = LEAVE_TEAM_YMD IS NULL" 정의를 동일하게 맞춘다.
					  -->
					  AND A.LEAVE_TEAM_YMD IS NULL
		     ) B
				ON (
					A.CMPNY_CD = B.CMPNY_CD
				AND A.SITE_CD = B.SITE_CD
		        AND A.SHIFT_CD = B.SHIFT_CD
		        AND A.SHIFT_TEAM_ID = B.SHIFT_TEAM_ID
	            AND A.TEAM_IDX = B.TEAM_IDX
		        )
	        LEFT OUTER JOIN node_tree C
				ON (
					A.CMPNY_CD = C.CMPNY_CD
				AND A.SITE_CD = C.SITE_CD
                AND B.NODE_CD = C.NODE_CD
                )
		WHERE A.CMPNY_CD = #{gvCmpnyCd}
		  AND A.SITE_CD = #{siteCd}
    </select>

    <select id="selectShiftTypeLists" parameterType="com.prafta.web.attd.attd06.application.query.ShiftTypeListsQuery" resultType="com.prafta.web.attd.attd06.result.ShiftTypeListsResult">
    /* Attd06Mapper.selectShiftTypeLists */
	SELECT
		A.CMPNY_CD													AS cmpnyCd
		, A.SITE_CD													AS siteCd
		, A.SHIFT_CD												AS shiftCd
		, A.SHIFT_NO												AS shiftNo
		, CONCAT(A.SHIFT_TEAM_CNT, '조 ', A.SHIFT_PTRN_CNT, '교대')	AS shiftNm
		, A.SHIFT_PTRN_CNT											AS shiftPtrnCnt
		, A.SHIFT_TEAM_CNT											AS shiftTeamCnt
		, A.SHIFT_CYCLE_DAYS										AS shiftCycleDays
		, A.USE_YN													AS useYn
		, GROUP_CONCAT(B.SCH_NM ORDER BY B.DAY_NO SEPARATOR ' / ') 	AS schNmList
	FROM TB_SHIFT_SCH_MGMT A
		 INNER JOIN (
			SELECT 
				A.CMPNY_CD
				, A.SITE_CD
				, A.SHIFT_CD
	            , A.TEAM_IDX
	            , A.DAY_NO
				, A.SCH_CD
				<!-- PRAFTA-FIXEDOT-2(표기): 고정연장(전방/후방) 보유 근무타입은 마커를 덧붙여 구분.
				     IF 는 항상 non-NULL('' 폴백)이라 고정연장 없는 타입 라벨은 기존과 동일(무회귀). -->
				,IFNULL(CONCAT(B.FST_SCH_STR_TIME, '~', B.FST_SCH_END_TIME
					, IF(B.FIXED_OT_STR_TIME IS NOT NULL OR B.PRE_FIXED_OT_STR_TIME IS NOT NULL, '(+고정연장)', '')
				), 'OFF') SCH_NM
			FROM TB_SHIFT_SCH_ASSIGN_MGMT A
				 LEFT OUTER JOIN TB_SCH_MGMT B
					ON (
						A.CMPNY_CD = B.CMPNY_CD
					AND A.SITE_CD = B.SITE_CD
					AND A.SCH_CD = B.SCH_CD
					)
			WHERE A.TEAM_IDX = '1'
	     ) B
			ON (
				A.CMPNY_CD = B.CMPNY_CD
			AND A.SITE_CD  = B.SITE_CD
			AND A.SHIFT_CD = B.SHIFT_CD
	        )
	WHERE 1=1
		AND A.CMPNY_CD = #{gvCmpnyCd}
	  	AND A.SITE_CD = #{siteCd}
	GROUP BY
		A.CMPNY_CD
		, A.SITE_CD
		, A.SHIFT_CD
		, A.SHIFT_NO
		, A.SHIFT_PTRN_CNT
		, A.SHIFT_TEAM_CNT
		, A.SHIFT_CYCLE_DAYS
		, A.USE_YN
    </select>

    <select id="selectUserLists" parameterType="com.prafta.web.attd.attd06.application.query.UserListsQuery" resultType="com.prafta.web.attd.attd06.result.UserListsResult">
    /* Attd06Mapper.selectUserLists */
	WITH RECURSIVE 
		node_tree AS (
		    /* 로그인 사용자의 node 부터 시작 */
		    SELECT 
				N.CMPNY_CD
	            , N.SITE_CD
	            , N.NODE_CD
	            , N.NODE_NM
		    FROM TB_SITE_NODE N
			WHERE N.CMPNY_CD = #{gvCmpnyCd}
			  AND N.SITE_CD  = #{siteCd}
			  <if test="nodeCd != null and nodeCd != ''">
			  	AND N.NODE_CD  = #{nodeCd}
			  </if>
		
		    UNION ALL
		
		    /* 하위 노드 무한 확장 */
		    SELECT 
				C.CMPNY_CD
	            , C.SITE_CD
	            , C.NODE_CD
	            , C.NODE_NM
		    FROM TB_SITE_NODE C
		    INNER JOIN node_tree P
		        ON C.CMPNY_CD = P.CMPNY_CD
		       AND C.SITE_CD  = P.SITE_CD
		       AND C.PARENT_NODE_CD = P.NODE_CD
		)
	SELECT 
		A.USER_CD			AS userCd
		, A.USER_ID			AS userId
		, A.USER_NM			AS usernm
		, A.NODE_CD			AS nodeCd
		, B.NODE_NM			AS nodeNm
	FROM TB_USER A
		 INNER JOIN TB_SITE_NODE B
			ON (
				A.CMPNY_CD = B.CMPNY_CD
			AND A.SITE_CD = B.SITE_CD
			AND A.NODE_CD = B.NODE_CD
			)
	WHERE A.CMPNY_CD = #{gvCmpnyCd}
	  AND A.SITE_CD = #{siteCd}
	  AND A.USE_YN = 'Y'
	  AND A.ACCOUNT_STATUS != '03'
	  <if test="nodeCd != null and nodeCd != ''">
	  	<if test='"N".equals(incSubNodeYn)'>
			AND A.NODE_CD = #{nodeCd}
		</if>
	  </if>
	  
	  <!--
	    prafta-com-013-05-3: 교대팀 배치 후보에서 제외할 대상은 "현재 소속(탈퇴 미마킹) 행이 있는 사용자"만이다.
	      - 기존: 탈퇴일(LEAVE_TEAM_YMD) 무시 + deleteShiftTeamUser 가 행 보존(UPDATE 마킹)이라
	        탈퇴 직원도 NOT EXISTS 에 걸려 다른 교대팀 배치 후보에 영영 안 떴다.
	      - 정정: LEAVE_TEAM_YMD IS NULL(현 소속) 인 행이 있을 때만 후보에서 제외.
	        탈퇴 마킹(LEAVE_TEAM_YMD NOT NULL)된 사용자는 즉시 다른 교대팀 배치 후보 목록에 복귀한다.
	  -->
	  AND NOT EXISTS (
	      SELECT 1
	      FROM TB_SHIFT_SCH_TEAM_USER STU
	      WHERE STU.CMPNY_CD = A.CMPNY_CD
	        AND STU.SITE_CD  = A.SITE_CD
	        AND STU.USER_CD  = A.USER_CD
	        AND STU.LEAVE_TEAM_YMD IS NULL
	  )
    </select>

    <select id="selectShiftTypeDetailLists" parameterType="com.prafta.web.attd.attd06.application.query.ShiftTypeDetailListsQuery" resultType="com.prafta.web.attd.attd06.result.ShiftTypeDetailListsResult">
    /* Attd06Mapper.selectShiftTypeDetailLists */
    SELECT
		A.CMPNY_CD			AS cmpnyCd
	    , A.SITE_CD			AS siteCd
	    , A.SHIFT_CD		AS shiftCd
	    , B.TEAM_IDX		AS teamIdx
	    , B.TEAM_NM			AS teamNm
	    , B.DAY_NO			AS dayNo
	    , B.ASSIGN_YN		AS assignYn
	    , B.SCH_CD			AS schCd
	    , B.SCH_NO			AS schNo
	    , B.FST_SCH_TIME	AS fstSchTime
	    , B.SEC_SCH_TIME	AS secSchTime
	    , B.SCH_TYPE		AS schType
	FROM TB_SHIFT_SCH_MGMT A
		 INNER JOIN (
			SELECT 
				A.CMPNY_CD
				, A.SITE_CD
				, A.SHIFT_CD
				, A.TEAM_IDX
				, C.TEAM_NM
				, A.DAY_NO
				, A.ASSIGN_YN
				, A.SCH_CD
				, B.SCH_NO
				, CONCAT(B.FST_SCH_STR_TIME, '-', B.FST_SCH_END_TIME) AS FST_SCH_TIME
				, CASE
					WHEN SCH_TYPE = '02'				<!-- 2구간 근무 타입 -->
						THEN CONCAT(B.SEC_SCH_STR_TIME, '-', B.SEC_SCH_END_TIME)
					ELSE NULL
				END SEC_SCH_TIME
				, B.SCH_TYPE
			FROM TB_SHIFT_SCH_ASSIGN_MGMT A
				 INNER JOIN TB_SCH_MGMT B
					ON (
						A.CMPNY_CD = B.CMPNY_CD
					AND A.SITE_CD = B.SITE_CD
					AND A.SCH_CD = B.SCH_CD
					)
				 INNER JOIN TB_SHIFT_SCH_TEAM_META_INFO C
					ON (
						A.CMPNY_CD = C.CMPNY_CD
					AND A.SITE_CD = C.SITE_CD
                    AND A.SHIFT_CD = C.SHIFT_CD
                    AND A.TEAM_IDX = C.TEAM_IDX
                    )
	     ) B
			ON (
				A.CMPNY_CD = B.CMPNY_CD
			AND A.SITE_CD = B.SITE_CD
	        AND A.SHIFT_CD = B.SHIFT_CD
			)
	WHERE A.CMPNY_CD = #{gvCmpnyCd}
	  AND A.SITE_CD = #{siteCd}
	  AND A.SHIFT_CD = #{shiftCd}
    </select>
    
    
    <select id="selectShiftTeamCd" parameterType="string" resultType="string" flushCache="true">
    /* Attd06Mapper.selectShiftTeamCd */
    SELECT CONCAT(DATE_FORMAT(NOW(), '%Y%m'), FNC_CMM_SEQ_NEXTVAL(#{gvCmpnyCd}, 'TEAM_SHIFT_ID')) AS teamShiftId
    FROM DUAL
    </select>
    
    <update id="insertShiftTeam" parameterType="com.prafta.web.attd.attd06.application.command.ShiftTeamUserCommand">
	/* Attd06Mapper.insertShiftTeam */
		INSERT INTO TB_SHIFT_SCH_TEAM_MGMT (
			CMPNY_CD
			, SITE_CD
			, SHIFT_CD
			, SHIFT_TEAM_ID
			, SHIFT_TEAM_NM
			, STR_DATE
			, END_DATE
			, INSERT_NO
			, INSERT_DATE
			, UPDATE_NO
			, UPDATE_DATE
		)
		VALUES
		(
			#{gvCmpnyCd}
	        , #{siteCd}
	        , #{shiftCd}
          	, #{shiftTeamId}
          	, IFNULL(NULLIF(#{shiftTeamNm}, ''), #{shiftTeamId})
          	, #{startDate}
          	, #{endDate}
          	, #{gvUserCd}
	        , NOW()
	        , #{gvUserCd}
	        , NOW()
		)
	</update>

	<update id="insertShiftTeamUser" parameterType="com.prafta.web.attd.attd06.application.command.ShiftTeamCommand">
	/* Attd06Mapper.insertShiftTeamUser */
		INSERT INTO TB_SHIFT_SCH_TEAM_USER (
		      CMPNY_CD
		    , SITE_CD
		    , SHIFT_CD
		    , SHIFT_TEAM_ID
		    , TEAM_IDX
		    , USER_CD
		    , LEADER_YN
		    , INSERT_NO
		    , INSERT_DATE
		    , UPDATE_NO
		    , UPDATE_DATE
		) VALUES
		<foreach collection="memberList" item="member" separator=",">
		    (
		        #{gvCmpnyCd}
		        , #{siteCd}
		        , #{shiftCd}
	          	, #{shiftTeamId}
		        , #{teamIdx}
		        , #{member.userCd}
		        , #{member.leaderYn}
		        , #{gvUserCd}
		        , NOW()
		        , #{gvUserCd}
		        , NOW()
		    )
		</foreach>
		AS NEW
		ON DUPLICATE KEY UPDATE
		    LEADER_YN   = NEW.LEADER_YN
		    , UPDATE_NO   = NEW.INSERT_NO
		    , UPDATE_DATE = NOW()
		    <!-- prafta-com-008-D-4: 재가입(기존 탈퇴 행 잔존) 시 탈퇴일 리셋(=현 소속 복귀). -->
		    , LEAVE_TEAM_YMD = NULL
	</update>

    <update id="updateShiftTeamNm" parameterType="com.prafta.web.attd.attd06.application.command.UpdateShiftTeamNmCommand">
    /* Attd06Mapper.updateShiftTeamNm */
    UPDATE TB_SHIFT_SCH_TEAM_MGMT
    SET 
    	SHIFT_TEAM_NM = #{shiftTeamNm}
    	, UPDATE_NO = #{gvUserCd}
    	, UPDATE_DATE = NOW()
    WHERE CMPNY_CD = #{gvCmpnyCd}
      AND SITE_CD = #{siteCd}
      AND SHIFT_TEAM_ID = #{shiftTeamId}
    </update>

    <!--
      prafta-com-008-D-4: 교대팀에서 사용자 제거 = 행 보존 + 탈퇴일 마킹(DELETE → UPDATE 전환).
        - 기존 자동생성 근무계획(tb_user_work_plan, GEN_SOURCE='SHIFT')은 건드리지 않는다(요구 2-1).
        - 탈퇴일(LEAVE_TEAM_YMD) = 서버 산출 오늘(YYYYMMDD, 클라 미신뢰). 이 날짜부터 근무계획 변경 허용(미포함).
        - ★ WHERE 키는 기존 DELETE 와 동일하게 유지한다(SHIFT_CD/TEAM_IDX 미포함 — 같은 팀 내 같은 USER 1행 가정).
          키를 추가하면 0행 매칭 회귀가 발생하므로 추가 금지.
        - 이미 탈퇴 마킹된 행(LEAVE_TEAM_YMD NOT NULL)도 멱등하게 재마킹(오늘로 갱신)되며 문제 없다.
    -->
    <update id="deleteShiftTeamUser" parameterType="com.prafta.web.attd.attd06.application.command.DeleteShiftTeamUserCommand">
    /* Attd06Mapper.deleteShiftTeamUser */
    UPDATE TB_SHIFT_SCH_TEAM_USER
    SET LEAVE_TEAM_YMD = DATE_FORMAT(NOW(), '%Y%m%d')
        , UPDATE_NO = #{gvUserCd}
        , UPDATE_DATE = NOW()
    WHERE CMPNY_CD = #{gvCmpnyCd}
      AND SITE_CD = #{siteCd}
      AND SHIFT_TEAM_ID = #{shiftTeamId}
      AND USER_CD = #{userCd}
    </update>

    <!--
      prafta-com-008-D-4: 교대팀에 사용자 추가(재가입 흡수).
        - 신규 가입(행 없음)은 기존과 동일하게 INSERT.
        - ★ 재가입(PK 충돌 = 기존 탈퇴 행 LEAVE_TEAM_YMD NOT NULL 잔존) 시 ON DUPLICATE KEY UPDATE 로
          LEAVE_TEAM_YMD 를 NULL 로 리셋(=현 소속 복귀). 단일행 모델이라 탈퇴~재가입 공백기는 부정확(MVP 수용).
    -->
    <update id="insertShiftTeamUsers" parameterType="com.prafta.web.attd.attd06.application.command.InsertShiftTeamUsersCommand">
    /* Attd06Mapper.insertShiftTeamUsers */
    INSERT INTO TB_SHIFT_SCH_TEAM_USER
    (
		CMPNY_CD
		, SITE_CD
		, SHIFT_CD
		, SHIFT_TEAM_ID
		, TEAM_IDX
		, USER_CD
		, LEADER_YN
		, INSERT_NO
		, INSERT_DATE
		, UPDATE_NO
		, UPDATE_DATE
	)
	VALUES
	(
		#{gvCmpnyCd}
		, #{siteCd}
		, #{shiftCd}
		, #{shiftTeamId}
		, #{teamIdx}
		, #{userCd}
		, 'N'
		, #{gvUserCd}
		, NOW()
		, #{gvUserCd}
		, NOW()
	)
	AS NEW
	ON DUPLICATE KEY UPDATE
	    TEAM_IDX = NEW.TEAM_IDX
	    , UPDATE_NO = NEW.INSERT_NO
	    , UPDATE_DATE = NOW()
	    , LEAVE_TEAM_YMD = NULL
    </update>

    <update id="updateShiftTeamLeaders" parameterType="com.prafta.web.attd.attd06.application.command.UpdateShiftTeamLeadersCommand">
    /* Attd06Mapper.updateShiftTeamLeaders */
    UPDATE TB_SHIFT_SCH_TEAM_USER
    SET LEADER_YN = #{leaderYn}
    	, UPDATE_NO = #{gvUserCd}
    	, UPDATE_DATE = NOW()
	WHERE CMPNY_CD = #{gvCmpnyCd}
	  AND SITE_CD = #{siteCd}
	  AND USER_CD = #{userCd}
	<!-- prafta-com-016-D 보안 재작업: 같은 사업장 동일 사용자가 여러 교대팀에 속할 수 있어 팀 단위로 WHERE 를 좁힌다(키 정합). -->
	<if test="shiftCd != null and shiftCd != ''">
	  AND SHIFT_CD = #{shiftCd}
	</if>
	<if test="shiftTeamId != null and shiftTeamId != ''">
	  AND SHIFT_TEAM_ID = #{shiftTeamId}
	</if>
	<if test="teamIdx != null and teamIdx != ''">
	  AND TEAM_IDX = #{teamIdx}
	</if>
    </update>

    <update id="updateShiftTeamPeriod" parameterType="com.prafta.web.attd.attd06.application.command.UpdateShiftTeamPeriodCommand">
    /* Attd06Mapper.updateShiftTeamPeriod */
    UPDATE TB_SHIFT_SCH_TEAM_MGMT
    SET STR_DATE = #{strDate}
    	, END_DATE = #{endDate}
    	, UPDATE_NO = #{gvUserCd}
    	, UPDATE_DATE = NOW() 
    WHERE CMPNY_CD = #{gvCmpnyCd}
      AND SITE_CD = #{siteCd}
      AND SHIFT_CD = #{shiftCd}
      AND SHIFT_TEAM_ID = #{shiftTeamId}
    </update>

    <delete id="deleteShiftTeam" parameterType="com.prafta.web.attd.attd06.application.command.DeleteShiftTeamCommand">
    /* Attd06Mapper.deleteShiftTeam */
    DELETE FROM TB_SHIFT_SCH_TEAM_MGMT
    WHERE CMPNY_CD = #{gvCmpnyCd}
      AND SITE_CD = #{siteCd}
      AND SHIFT_CD = #{shiftCd}
      AND SHIFT_TEAM_ID = #{shiftTeamId}
    </delete>
    
    <!--
      prafta-com-008-D-4: 팀 전체 사용자 제거 = 멤버 행 보존 + 일괄 탈퇴일 마킹(DELETE → UPDATE 전환, 메인 확인 #5).
        - 팀 자체 삭제(deleteShiftTeam 의 마스터 행 DELETE)와 동반 호출되나, 멤버 행은 보존하여
          기존 자동생성 근무계획의 "교대였음" 추적을 유지한다(요구 2-1 "기존 스케줄 유지" 일관).
        - 이미 탈퇴 마킹된 행은 멱등하게 오늘로 재마킹(WHERE 추가 필터 없음 — 팀 전체 일괄).
        - 자동생성 work_plan(GEN_SOURCE='SHIFT')은 손대지 않는다.
    -->
    <update id="deleteShiftTeamAllUser" parameterType="com.prafta.web.attd.attd06.application.command.DeleteShiftTeamCommand">
    /* Attd06Mapper.deleteShiftTeamAllUser */
    UPDATE TB_SHIFT_SCH_TEAM_USER
    SET LEAVE_TEAM_YMD = DATE_FORMAT(NOW(), '%Y%m%d')
        , UPDATE_NO = #{gvUserCd}
        , UPDATE_DATE = NOW()
    WHERE CMPNY_CD = #{gvCmpnyCd}
      AND SITE_CD = #{siteCd}
      AND SHIFT_CD = #{shiftCd}
      AND SHIFT_TEAM_ID = #{shiftTeamId}
    </update>
    
    <!--
      prafta-com-013-05(재작업) 교대 패턴의 일자별 SCH_CD 목록(순환 위상 순서대로).
        - 결함③: 순환 위상 계산이 패턴 순서(PTRN_IDX)에 의존하므로 ORDER BY PTRN_IDX 필수.
          (PK = CMPNY_CD/SITE_CD/SHIFT_CD/PTRN_IDX, PTRN_IDX = 교대패턴 순번 tinyint.)
        - 결함①: "휴무 슬롯" 표현을 데이터에 의존하지 않고 코드베이스 공통 규칙으로 정규화한다.
          * 프로젝트 전역 OFF 판정 규칙(Attd01Mapper.selectShiftSchInfoList /
            Attd06Mapper.selectShiftTypeLists 의 IFNULL(...,'OFF'))과 동일:
            패턴의 SCH_CD 가 TB_SCH_MGMT(근무타입)에 실재하지 않으면 휴무로 본다.
          * FE(ShiftTypeCreatePop)는 휴무 슬롯을 SCH_CD='OFF' 리터럴로 저장한다(varchar NOT NULL).
            이 'OFF' 리터럴은 TB_SCH_MGMT 에 SCH_CD 로 존재하지 않으므로 LEFT JOIN 이 NULL → 'OFF' 정규화에 그대로 포섭된다.
          * 실재하지 않는(조인 실패) 다른 코드값/오타 케이스도 동일하게 'OFF'(휴무)로 정규화하여 견고화한다.
        - 반환값은 실 근무 슬롯이면 실제 SCH_CD, 휴무 슬롯이면 'OFF' 센티넬.
          서비스단(UserWorkPlanCommand)에서 'OFF' → null(휴무)로 정규화하여 work_plan 미배정 처리한다.
    -->
    <select id="selectShiftPtrnSchList" parameterType="com.prafta.web.attd.attd06.application.query.SchCdListQuery" resultType="string">
    /* Attd06Mapper.selectShiftPtrnSchList */
    SELECT
        IFNULL(M.SCH_CD, 'OFF') AS schCd
    FROM TB_SHIFT_SCH_PTRN_MGMT P
         LEFT OUTER JOIN TB_SCH_MGMT M
            ON (
                P.CMPNY_CD = M.CMPNY_CD
            AND P.SITE_CD  = M.SITE_CD
            AND P.SCH_CD   = M.SCH_CD
            )
    WHERE P.CMPNY_CD = #{cmpnyCd}
      AND P.SITE_CD  = #{siteCd}
      AND P.SHIFT_CD = #{shiftCd}
    ORDER BY P.PTRN_IDX
    </select>
    
    <insert id="upsertUserWorkPlanList" parameterType="com.prafta.web.attd.attd06.application.command.UserWorkPlanCommand">
    /* Attd06Mapper.upsertUserWorkPlanList */
    INSERT INTO TB_USER_WORK_PLAN (
        CMPNY_CD
        , SITE_CD
        , USER_CD
        , WORK_YMD
        , WORK_PLAN_CD
        , INSERT_NO
        , INSERT_DATE
    ) VALUES
    <foreach collection="userWorkPlanModelList" item="item" separator=",">
        (
            #{item.cmpnyCd}
            , #{item.siteCd}
            , #{item.userCd}
            , #{item.workYmd}
            , #{item.schCd}
            , #{item.gvUserCd}
            , NOW()
        )
    </foreach>
    AS NEW
    ON DUPLICATE KEY UPDATE
        WORK_PLAN_CD = NEW.WORK_PLAN_CD
        , UPDATE_NO = NEW.INSERT_NO
        , UPDATE_DATE = NOW()
	</insert>

    <!--
      prafta-com-013-05-1: 특정 사용자의 [startYmd, endYmd] 구간과 겹치는 종일 확정 연차 구간(START/END) 목록.
        - "연차 등록" 판정 술어는 Attd05Mapper.countFullDayLeaveUseOnCell 와 동일:
          LEAVE_STATUS='CONFIRMED' AND DEL_YN='N' AND USE_UNIT_TYPE='00'(종일).
        - 반일/시간단위 연차는 휴무 덮어쓰기 차단 대상이 아니다(종일만).
        - 일자 펼침(휴무일과 교집합 판정)은 서비스단에서 수행한다(긴 기간의 재귀 CTE 깊이 한계 회피).
        - 겹침 조건: leave.START_DATE <= 조회.endYmd AND leave.END_DATE >= 조회.startYmd.
    -->
    <select id="selectFullDayLeaveRanges" parameterType="map" resultType="com.prafta.web.attd.attd06.result.LeaveRangeResult">
    /* Attd06Mapper.selectFullDayLeaveRanges */
    SELECT
        L.START_DATE AS startDate
        , L.END_DATE AS endDate
      FROM TB_USER_LEAVE_USE L
     WHERE L.CMPNY_CD      = #{cmpnyCd}
       AND L.USER_CD       = #{userCd}
       AND L.LEAVE_STATUS  = 'CONFIRMED'
       AND L.DEL_YN        = 'N'
       AND L.USE_UNIT_TYPE = '00'
       AND L.START_DATE <![CDATA[ <= ]]> #{endYmd}
       AND L.END_DATE   <![CDATA[ >= ]]> #{startYmd}
    </select>

    <!--
      prafta-com-013-05-2: 교대팀의 현재 적용기간(STR_DATE/END_DATE) 1건. 기간 연장 판정의 기준값.
    -->
    <select id="selectShiftTeamPeriod" parameterType="com.prafta.web.attd.attd06.application.command.UpdateShiftTeamPeriodCommand" resultType="com.prafta.web.attd.attd06.result.ShiftTeamPeriodResult">
    /* Attd06Mapper.selectShiftTeamPeriod */
    SELECT
        STR_DATE AS strDate
        , END_DATE AS endDate
    FROM TB_SHIFT_SCH_TEAM_MGMT
    WHERE CMPNY_CD = #{gvCmpnyCd}
      AND SITE_CD = #{siteCd}
      AND SHIFT_CD = #{shiftCd}
      AND SHIFT_TEAM_ID = #{shiftTeamId}
    LIMIT 1
    </select>

    <!--
      prafta-com-013-05-2: 교대팀 소속 멤버(현 소속, 탈퇴 미마킹) 목록 — 기간 연장 시 연장구간 근무계획 재생성 대상.
        - TEAM_IDX 별 USER_CD. LEAVE_TEAM_YMD IS NULL(현 소속)만.
    -->
    <select id="selectShiftTeamActiveMembers" parameterType="com.prafta.web.attd.attd06.application.command.UpdateShiftTeamPeriodCommand" resultType="com.prafta.web.attd.attd06.result.ShiftTeamMemberResult">
    /* Attd06Mapper.selectShiftTeamActiveMembers */
    SELECT
        TEAM_IDX AS teamIdx
        , USER_CD AS userCd
    FROM TB_SHIFT_SCH_TEAM_USER
    WHERE CMPNY_CD = #{gvCmpnyCd}
      AND SITE_CD = #{siteCd}
      AND SHIFT_CD = #{shiftCd}
      AND SHIFT_TEAM_ID = #{shiftTeamId}
      AND LEAVE_TEAM_YMD IS NULL
    </select>

    <!--
      prafta-com-016-D-2/D-3: 교대팀 1건의 적용기간(STR/END) + 팀명.
        - 조원 추가(D-3) 덮어쓰기 범위(합류일+1 ~ END_DATE) 산출 + PUSH(D-2) 본문 팀명 치환에 사용.
    -->
    <select id="selectShiftTeamInfo" parameterType="map" resultType="com.prafta.web.attd.attd06.result.ShiftTeamInfoResult">
    /* Attd06Mapper.selectShiftTeamInfo */
    SELECT
        STR_DATE AS strDate
        , END_DATE AS endDate
        , SHIFT_TEAM_NM AS shiftTeamNm
    FROM TB_SHIFT_SCH_TEAM_MGMT
    WHERE CMPNY_CD = #{cmpnyCd}
      AND SITE_CD = #{siteCd}
      AND SHIFT_CD = #{shiftCd}
      AND SHIFT_TEAM_ID = #{shiftTeamId}
    LIMIT 1
    </select>

    <!--
      prafta-com-016-D 보안 재작업: 팀 단위 쓰기 권한 가드용 — 해당 교대팀 현 소속(탈퇴 미마킹) 멤버 USER_CD 목록.
        - 팀명/기간/팀삭제 경로는 대상이 팀 전체이므로, 영향 멤버 각각에 canManageUser 를 강제하기 위해 사용.
    -->
    <select id="selectShiftTeamMemberUserCds" parameterType="map" resultType="java.lang.String">
    /* Attd06Mapper.selectShiftTeamMemberUserCds */
    SELECT
        USER_CD
    FROM TB_SHIFT_SCH_TEAM_USER
    WHERE CMPNY_CD = #{cmpnyCd}
      AND SITE_CD = #{siteCd}
      AND SHIFT_CD = #{shiftCd}
      AND SHIFT_TEAM_ID = #{shiftTeamId}
      AND LEAVE_TEAM_YMD IS NULL
    </select>
</mapper>
