<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prafta.web.baim.baim05.mapper.Baim05Mapper">

	<select id="selectDailyUserSlotList" parameterType="com.prafta.web.baim.baim05.application.query.DailyUserSlotListQuery" resultType="com.prafta.web.baim.baim05.result.DailyUserSlotListResult">
    /* Baim05Mapper.selectDailyUserSlotList */
	SELECT 
		'' 																AS chk
		, A.CMPNY_CD													AS cmpnyCd
		, A.SITE_CD														AS siteCd
	    , FNC_CMM_INFO_SRCH(A.CMPNY_CD, 'SITE', A.SITE_CD, NULL)		AS siteNm
	    , A.SLOT_NO														AS slotNo
	    , A.SLOT_TYPE													AS slotType
	    , A.FIXED_YN													AS fixedYn
	    , A.USE_YN														AS useYn
	    , A.CURR_USER_ID												AS currUserId
	    , FNC_CMM_INFO_SRCH(A.CMPNY_CD, 'USER', A.CURR_USER_ID, NULL) 	AS currUserNm
	    , A.SLOT_STATUS													AS slotStatus
	FROM TB_DAILY_USER_SLOT A
	WHERE A.CMPNY_CD = #{gvCmpnyCd}
	  <if test="siteCd != null and siteCd != ''">
	  	AND A.SITE_CD = #{siteCd}
	  </if>
	  <if test="slotType != null and slotType != ''">
	  	AND A.SLOT_TYPE = #{slotType}
	  </if>
	  <if test="slotStatus != null and slotStatus != ''">
	  	AND A.SLOT_STATUS = #{slotStatus}
	  </if>
	  <if test="useYn != null and useYn != ''">
	  	AND A.USE_YN = #{useYn}
	  </if>
	  <if test="currUserId != null and currUserId != ''">
	  	AND A.USE_YN = #{currUserId}
	  </if>
	ORDER BY SITE_CD, CAST(A.SLOT_NO AS UNSIGNED)
    </select>
</mapper>