<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prafta.web.tbm.tbm01.mapper.Tbm01Mapper">

	<select id="selectTbmEduInfo" parameterType="com.prafta.web.tbm.tbm01.application.query.TbmEduInfoListQuery" resultType="com.prafta.web.tbm.tbm01.result.TbmEduInfoResult">
    /* Tbm01Mapper.selectTbmEduInfo */
    SELECT 
    	A.CMPNY_CD			AS cmpnyCd
	    , A.MTRL_CD				AS mtrlCd
	    , A.TITLE				AS title
	    , A.CONTENTS			AS contents
	    , A.MTRL_TYPE			AS mtrlType
	    , A.USE_YN				AS useYn
	    , COUNT(B.MTRL_ITEM_CD) AS mtrlCnt
	    /* 데이터 초기화용 값 */
	    , A.TITLE				AS oriTitle
	    , A.CONTENTS			AS oriContents
	    , A.MTRL_TYPE			AS oriMtrlType
	    , A.USE_YN				AS oriUseYn
	    
	    , FNC_CMM_INFO_SRCH(A.CMPNY_CD, 'USER', A.INSERT_NO, NULL) 	AS insertNm
        , DATE_FORMAT(A.INSERT_DATE, '%Y-%m-%d %H:%i')				AS insertDate
	FROM TB_TBM_EDU_MTRL A
	     INNER JOIN TB_TBM_EDU_MTRL_ITEM B
			ON (
				A.MTRL_CD = B.MTRL_CD 
			AND B.USE_YN = 'Y'
	        )
	WHERE A.CMPNY_CD = #{gvCmpnyCd}
	  <if test="mtrlCd != null and mtrlCd != ''">
	    AND A.MTRL_CD = #{mtrlCd}
	  </if>
	  <if test="title != null and title != ''">
	  	AND A.TITLE LIKE CONCAT('%', #{title}, '%') 
	  </if>
	  <if test="mtrlType != null and mtrlType != ''">
	  AND A.MTRL_TYPE = #{mtrlType}
	  </if>
	  <if test="useYn != null and useYn != ''">
	  AND A.USE_YN = #{useYn}
	  </if>
	GROUP BY A.CMPNY_CD
	    , A.MTRL_CD
	    , A.TITLE
	    , A.CONTENTS
	    , A.MTRL_TYPE
	    , A.USE_YN
    </select>
    
    <select id="selectTbmEduItemInfo" parameterType="com.prafta.web.tbm.tbm01.application.query.TbmEduItemInfoListQuery" resultType="com.prafta.web.tbm.tbm01.result.TbmEduItemInfoResult">
    /* Tbm01Mapper.selectTbmEduItemInfo */
    SELECT 
    	''						AS chk
    	, A.MTRL_ITEM_CD		AS mtrlItemCd
    	, A.MTRL_CD				AS mtrlCd
    	, A.SORT_IDX			AS sortIdx
    	, A.MTRL_ITEM_TYPE		AS mtrlItemType
    	, A.MTRL_DESC			AS mtrlDesc
    	, A.FILE_MGMT_CD		AS fileMgmtCd
    	, B.FILE_NM				AS fileNm
    	, B.FILE_PATH			AS filePath
    	, B.FILE_EXT			AS fileExt
    	, A.URL					AS url
    	, A.USE_YN				AS useYn
    	/* 데이터 초기화 값 */
    	, A.SORT_IDX			AS oriSortIdx
    	, A.MTRL_ITEM_TYPE		AS oriMtrlItemType
    	, A.MTRL_DESC			AS oriMtrlDesc
    	, A.FILE_MGMT_CD		AS oriFileMgmtCd
    	, B.FILE_NM				AS oriFileNm
    	, B.FILE_PATH			AS oriFilePath
    	, B.FILE_EXT			AS oriFileExt
    	, A.URL					AS oriUrl
    	, A.USE_YN				AS oriUseYn
	FROM TB_TBM_EDU_MTRL_ITEM A
		 LEFT OUTER JOIN TB_FILE_INFO B
		 	ON (
		 		A.FILE_MGMT_CD = B.FILE_MGMT_CD
		 	)
	WHERE A.MTRL_CD = #{mtrlCd}
    </select>

	<select id="selectMtrlCd" parameterType="java.util.HashMap" resultType="java.lang.String">
    /* Tbm01Mapper.selectMtrlCd */
    SELECT CONCAT(DATE_FORMAT(CURDATE(), '%y%m%d'), FNC_CMM_SEQ_NEXTVAL(#{gvCmpnyCd}, 'MTRL_CD'))
	FROM DUAL
    </select>
    
    <select id="selectMtrlItemCd" parameterType="java.util.HashMap" resultType="java.lang.String">
    /* Tbm01Mapper.selectMtrlItemCd */
    SELECT CONCAT(DATE_FORMAT(CURDATE(), '%y%m%d'), FNC_CMM_SEQ_NEXTVAL(#{gvCmpnyCd}, 'MTRL_ITEM_CD'))
	FROM DUAL
    </select>
		
	<update id="mergeTbmEduItemInfo" parameterType="com.prafta.web.tbm.tbm01.application.command.TbmEduItemInfoCommand">
	/* Tbm01Mapper.mergeTbmEduItemInfo */
	INSERT INTO TB_TBM_EDU_MTRL_ITEM (
	    MTRL_ITEM_CD
	    , MTRL_CD
	    , SORT_IDX
	    , MTRL_ITEM_TYPE
	    , MTRL_DESC
	    , FILE_MGMT_CD
	    , URL
	    , USE_YN
	    , INSERT_NO
	    , UPDATE_NO
	) VALUES (
	    #{mtrlItemCd}
	    , #{mtrlCd}
	    , #{sortIdx}
	    , #{mtrlItemType}
	    , #{mtrlDesc}
	    , #{fileMgmtCd}
	    , #{url}
	    , #{useYn}
	    , #{gvUserCd}
	    , #{gvUserCd}
	) AS NEW
	ON DUPLICATE KEY UPDATE
	    MTRL_ITEM_TYPE   = NEW.MTRL_ITEM_TYPE
	    , MTRL_DESC      = NEW.MTRL_DESC
	    , FILE_MGMT_CD   = NEW.FILE_MGMT_CD
	    , URL            = NEW.URL
	    , USE_YN         = NEW.USE_YN
	    , UPDATE_NO      = NEW.UPDATE_NO
	    , UPDATE_DATE    = NOW()
	</update>
	
		<update id="mergeTbmEduInfo" parameterType="com.prafta.web.tbm.tbm01.application.command.TbmEduInfoCommand">
	/* Tbm01Mapper.mergeTbmEduInfo */
	INSERT INTO TB_TBM_EDU_MTRL (
	    MTRL_CD,
	    CMPNY_CD,
	    TITLE,
	    CONTENTS,
	    MTRL_TYPE,
	    USE_YN,
	    INSERT_NO,
	    INSERT_DATE,
	    UPDATE_NO,
	    UPDATE_DATE
	) VALUES (
	    #{mtrlCd}
	    , #{gvCmpnyCd}
	    , #{title}
	    , #{contents}
	    , #{mtrlType}
	    , #{useYn}
	    , #{gvUserCd}
	    , NOW()
	    , #{gvUserCd}
	    , NOW()
	) AS NEW
	ON DUPLICATE KEY UPDATE
	    TITLE      		= NEW.TITLE
	    , CONTENTS   	= NEW.CONTENTS
	    , MTRL_TYPE  	= NEW.MTRL_TYPE
	    , USE_YN     	= NEW.USE_YN
	    , UPDATE_NO   	= NEW.UPDATE_NO
	    , UPDATE_DATE 	= NOW()
	</update>
	
	<delete id ="deleteTbmEduItemInfo"  parameterType="com.prafta.web.tbm.tbm01.application.command.TbmEduItemCommand">
	/* Tbm01Mapper.deleteTbmEduItemInfo */
	DELETE FROM TB_TBM_EDU_MTRL_ITEM
	WHERE MTRL_ITEM_CD = #{mtrlItemCd}
	</delete>
	
	<delete id ="deleteTbmEduInfo"  parameterType="com.prafta.web.tbm.tbm01.application.command.TbmEduInfoCommand">
	/* Tbm01Mapper.deleteTbmEduInfo */
	DELETE FROM TB_TBM_EDU_MTRL
	WHERE MTRL_CD = #{mtrlCd}
	  AND CMPNY_CD = #{gvCmpnyCd} 
	</delete>
</mapper>