<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prafta.web.baim.baim03.mapper.Baim03Mapper">

    <select id="selectTermsList" parameterType="com.prafta.web.baim.baim03.application.query.TermsInfoListQuery" resultType="com.prafta.web.baim.baim03.result.TermsInfoResult">
    /* Baim03Mapper.selectTermsList */
	SELECT 
		B.SYST_VAL_D_CD 				AS termsId
	    , B.SYST_VAL_D_NM 				AS termsNm
	    , IFNULL(C.TERMS_VERSION, 0) 	AS termsVersion
	FROM TB_SYST_VAL_M A
		 INNER JOIN TB_SYST_VAL_D B
			ON (
				A.SYST_VAL_CD = B.SYST_VAL_CD
			AND A.USE_YN = B.USE_YN
	        )
		LEFT OUTER JOIN TB_TERMS C
			ON (
				B.SYST_VAL_D_CD = C.TERMS_ID
			AND A.USE_YN = C.USE_YN
	        )
	WHERE 1=1
	  AND A.SYST_VAL_CD = 'SYS008'								/* 시스템코드 - 이용약관 */
	  AND A.USE_YN = 'Y'
	  <if test="termsNm != null and termsNm != ''">
	  	AND B.SYST_VAL_D_NM = #{termsNm}
	  </if>
	  <if test="termsId != null and termsId != ''">
	  	AND B.SYST_VAL_D_CD = #{termsId}
	  </if>
	</select>

    <select id="selectTermsDList" parameterType="com.prafta.web.baim.baim03.application.query.TermsDetailInfoListQuery" resultType="com.prafta.web.baim.baim03.result.TermsDetailInfoResult">
    /* Baim03Mapper.selectTermsDList */
	SELECT
		A.TERMS_ID 				AS termsId
		, B.TERMS_VERSION 		AS termsVersion
		, B.REQUIRED_YN 		AS requiredYn
		, B.TERMS_CONTENT 		AS termsContent
		, B.STR_DATE 			AS strDate
		, A.USE_YN				AS useYn
		, B.TERMS_DESC 			AS termsDesc
	FROM TB_TERMS A
		 INNER JOIN TB_TERMS_ID_VERSION B
			ON (
				A.TERMS_ID = B.TERMS_ID
			)
	WHERE 1=1
	  AND A.TERMS_ID = #{termsId}
	  <if test="termsVersion != null and termsVersion != ''">
	  	AND B.TERMS_VERSION = #{termsVersion}
	  </if>
	</select>
		
	<insert id="mergeTermsInfo" parameterType="com.prafta.web.baim.baim03.application.command.TermsInfoCommand">
	/* Baim02Mapper.mergeTermsInfo */
	INSERT INTO TB_TERMS (
		TERMS_ID
		, TERMS_VERSION
		, REQUIRED_YN
		, TERMS_CONTENT
		, STR_DATE
		, USE_YN
		, TERMS_DESC
		, INSERT_NO
		, INSERT_DATE
		, UPDATE_NO
		, UPDATE_DATE
	) 
	VALUES (
		#{termsId}
		, #{termsVersion}
		, #{requiredYn}
		, <![CDATA[#{termsContent}]]>
		, REPLACE(#{strDate}, '-', '')
		, 'Y'
		, <![CDATA[#{termsDesc}]]>
		, #{gvUserCd}
		, now()
		, #{gvUserCd}
		, now()
	) AS NEW
	ON DUPLICATE KEY UPDATE
		TERMS_VERSION			= NEW.TERMS_VERSION
		, REQUIRED_YN			= NEW.REQUIRED_YN
		, TERMS_CONTENT			= NEW.TERMS_CONTENT
		, STR_DATE				= NEW.STR_DATE
		, USE_YN				= NEW.USE_YN
		, TERMS_DESC			= NEW.TERMS_DESC
		, UPDATE_NO   			= NEW.UPDATE_NO
	    , UPDATE_DATE 			= NOW()
	</insert>
	
	<insert id="insertTermsIdVersionInfo" parameterType="com.prafta.web.baim.baim03.application.command.TermsInfoCommand">
	/* Baim02Mapper.insertTermsIdVersionInfo */
	INSERT INTO TB_TERMS_ID_VERSION (
		TERMS_ID
		, TERMS_VERSION
		, REQUIRED_YN
		, TERMS_CONTENT
		, STR_DATE
		, TERMS_DESC
		, INSERT_NO
		, INSERT_DATE
	)
	VALUES(
		#{termsId}
		, #{termsVersion}
		, #{requiredYn}
		, <![CDATA[#{termsContent}]]>
		, REPLACE(#{strDate}, '-', '')
		, #{termsDesc}
		, #{gvUserCd}
		, now()
	)
	</insert>
</mapper>