<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prafta.web.baim.baim03.mapper.Baim03Mapper">

    <select id="selectTermsList" parameterType="com.prafta.web.baim.baim03.application.query.TermsInfoListQuery" resultType="com.prafta.web.baim.baim03.result.TermsInfoResult">
    /* Baim03Mapper.selectTermsList */
	SELECT 
		B.SYST_VAL_D_CD 				AS termsId
	    , B.SYST_VAL_D_NM 				AS termsNm
	    , IFNULL(C.TERMS_VERSION, 0) 	AS termsVersion
	FROM TB_SYST_VAL_M A
		 INNER JOIN TB_SYST_VAL_D B
			ON (
				A.SYST_VAL_CD = B.SYST_VAL_CD
			AND A.USE_YN = B.USE_YN
	        )
		LEFT OUTER JOIN TB_TERMS C
			ON (
				B.SYST_VAL_D_CD = C.TERMS_ID
			AND A.USE_YN = C.USE_YN
	        )
	WHERE 1=1
	  AND A.SYST_VAL_CD = 'SYS008'								/* 시스템코드 - 이용약관 */
	  AND A.USE_YN = 'Y'
	  <if test="termsNm != null and termsNm != ''">
	  	AND B.SYST_VAL_D_NM = #{termsNm}
	  </if>
	  <if test="termsId != null and termsId != ''">
	  	AND B.SYST_VAL_D_CD = #{termsId}
	  </if>
	</select>

    <select id="selectTermsDList" parameterType="com.prafta.web.baim.baim03.application.query.TermsDetailInfoListQuery" resultType="com.prafta.web.baim.baim03.result.TermsDetailInfoResult">
    /* Baim03Mapper.selectTermsDList */
	/*
	  현행(TB_TERMS) + 과거 이력(TB_TERMS_ID_VERSION) 합집합으로 조회한다.
	  종전에는 이력 테이블만 INNER JOIN 해서, 이력 INSERT 를 누락한 채 TB_TERMS 만
	  갱신된 약관(prafta-terms-real-content-1.sql 로 교체된 001~005)의 현행 본문이
	  관리 화면에 아예 뜨지 않았다. currentYn='Y' 행이 지금 서비스에 노출되는 버전이다.
	  주의: 이력에 현행과 같은 버전이 이미 있으면 중복되므로 아래 절에서 제외한다.
	*/
	SELECT
		X.termsId
		, X.termsVersion
		, X.requiredYn
		, X.termsContent
		, X.strDate
		, X.useYn
		, X.termsDesc
		, X.currentYn
	FROM (
			SELECT
				A.TERMS_ID 			AS termsId
				, A.TERMS_VERSION 	AS termsVersion
				, A.REQUIRED_YN 	AS requiredYn
				, A.TERMS_CONTENT 	AS termsContent
				, A.STR_DATE 		AS strDate
				, A.USE_YN			AS useYn
				, A.TERMS_DESC 		AS termsDesc
				, 'Y'				AS currentYn
			FROM TB_TERMS A
			WHERE A.TERMS_ID = #{termsId}

			UNION ALL

			SELECT
				A.TERMS_ID
				, B.TERMS_VERSION
				, B.REQUIRED_YN
				, B.TERMS_CONTENT
				, B.STR_DATE
				, A.USE_YN
				, B.TERMS_DESC
				, 'N'
			FROM TB_TERMS A
				 INNER JOIN TB_TERMS_ID_VERSION B
					ON (
						A.TERMS_ID = B.TERMS_ID
					)
			WHERE A.TERMS_ID = #{termsId}
			  AND B.TERMS_VERSION != A.TERMS_VERSION
		 ) X
	WHERE 1=1
	  <if test="termsVersion != null and termsVersion != ''">
	  	AND X.termsVersion = #{termsVersion}
	  </if>
	ORDER BY CAST(X.termsVersion AS UNSIGNED) DESC
	</select>
		
	<insert id="mergeTermsInfo" parameterType="com.prafta.web.baim.baim03.application.command.TermsInfoCommand">
	/* Baim02Mapper.mergeTermsInfo */
	INSERT INTO TB_TERMS (
		TERMS_ID
		, TERMS_VERSION
		, REQUIRED_YN
		, TERMS_CONTENT
		, STR_DATE
		, USE_YN
		, TERMS_DESC
		, INSERT_NO
		, INSERT_DATE
		, UPDATE_NO
		, UPDATE_DATE
	) 
	VALUES (
		#{termsId}
		, #{termsVersion}
		, #{requiredYn}
		, <![CDATA[#{termsContent}]]>
		, REPLACE(#{strDate}, '-', '')
		, 'Y'
		, <![CDATA[#{termsDesc}]]>
		, #{gvUserCd}
		, now()
		, #{gvUserCd}
		, now()
	) AS NEW
	ON DUPLICATE KEY UPDATE
		TERMS_VERSION			= NEW.TERMS_VERSION
		, REQUIRED_YN			= NEW.REQUIRED_YN
		, TERMS_CONTENT			= NEW.TERMS_CONTENT
		, STR_DATE				= NEW.STR_DATE
		, USE_YN				= NEW.USE_YN
		, TERMS_DESC			= NEW.TERMS_DESC
		, UPDATE_NO   			= NEW.UPDATE_NO
	    , UPDATE_DATE 			= NOW()
	</insert>
	
	<insert id="insertTermsIdVersionInfo" parameterType="com.prafta.web.baim.baim03.application.command.TermsInfoCommand">
	/* Baim02Mapper.insertTermsIdVersionInfo */
	INSERT INTO TB_TERMS_ID_VERSION (
		TERMS_ID
		, TERMS_VERSION
		, REQUIRED_YN
		, TERMS_CONTENT
		, STR_DATE
		, TERMS_DESC
		, INSERT_NO
		, INSERT_DATE
	)
	VALUES(
		#{termsId}
		, #{termsVersion}
		, #{requiredYn}
		, <![CDATA[#{termsContent}]]>
		, REPLACE(#{strDate}, '-', '')
		, #{termsDesc}
		, #{gvUserCd}
		, now()
	)
	</insert>
</mapper>