<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prafta.web.baim.baim01.mapper.Baim01Mapper">

    <select id="selectSiteInfoList" parameterType="com.prafta.web.baim.baim01.application.query.SiteInfoListQuery" resultType="com.prafta.web.baim.baim01.result.SiteInfoResult">
    /* Baim01Mapper.selectSiteInfoList */
    SELECT
    	'' 							AS chk
    	, A.SITE_CD					AS siteCd
    	, A.SITE_NO					AS siteNo
    	, A.SITE_NM					AS siteNm
    	, A.CMPNY_CD				AS cmpnyCd
    	, A.ADDR_1					AS addr1
    	, A.ADDR_2					AS addr2
    	, A.ZIP_CODE				AS zipCode
    	, A.STR_DATE				AS strDate
    	, A.END_DATE				AS endDate
    	, A.USE_YN					AS useYn
    	, A.SITE_ADMIN_CD			AS siteAdminCd
    	, B.USER_NM 				AS siteAdminNm
    	, A.TEL_NO					AS telNo
    	, IFNULL(A.GPS_RANGE, 0)	AS gpsRange
    	, A.SITE_DESC				AS siteDesc
    	, A.LAT						AS lat
    	, A.LON						AS lon
   	FROM TB_SITE A
 		 LEFT JOIN TB_USER B
			ON (
				A.CMPNY_CD = B.CMPNY_CD
			AND A.SITE_ADMIN_CD = B.USER_CD
            )
  	WHERE 1=1
  	  AND A.CMPNY_CD = #{gvCmpnyCd}
  	  <if test="siteCd != null and siteCd != ''">
  	  	AND A.SITE_CD = #{siteCd}
  	  </if>
  	  <if test="siteNo != null and siteNo != ''">
  	  	AND A.SITE_NO = #{siteNo}
  	  </if>
  	  <if test="siteNm != null and siteNm != ''">
  	  	AND A.SITE_NM LIKE CONCAT('%', #{siteNm}, '%')
  	  </if>
  	  <if test="useYn != null and useYn != ''">
  	  	AND A.USE_YN = #{useYn}
  	  </if>
	</select>
	
	<select id="selectSiteCd" parameterType="string" resultType="string">
    /* Baim01Mapper.selectSiteCd */
    SELECT FNC_CMM_SEQ_NEXTVAL(#{gvCmpnyCd}, 'SITE_CD')
	FROM DUAL
    </select>
    
    <insert id="insertSiteNodeInfo" parameterType="com.prafta.web.baim.baim01.application.command.SiteNodeInfoCommand">
	/* Baim01Mapper.insertSiteNodeInfo */
	INSERT INTO TB_SITE_NODE(
		CMPNY_CD
		, SITE_CD
		, NODE_CD
		, NODE_NM
		, NODE_TYPE
		, INSERT_NO
		, INSERT_DATE
		, UPDATE_NO
		, UPDATE_DATE
	)
	VALUES(
		#{gvCmpnyCd}
		, #{siteCd}
		, #{nodeCd}
		, #{nodeNm}
		, #{nodeType}
		, #{gvUserCd}
		, NOW()
		, #{gvUserCd}
		, NOW() 
	) AS NEW
	ON DUPLICATE KEY UPDATE
		NODE_NM 		= NEW.NODE_NM
		, UPDATE_NO		= NEW.UPDATE_NO
		, UPDATE_DATE 	= NEW.UPDATE_DATE
	</insert>
	
	<insert id="mergeSiteInfo" parameterType="com.prafta.web.baim.baim01.application.command.SiteInfoCommand">
	/* Baim01Mapper.mergeSiteInfo */
	INSERT INTO TB_SITE (
        SITE_CD
        , SITE_NO
        , SITE_NM
        , CMPNY_CD
        , ADDR_1
        , ADDR_2
        , ZIP_CODE
        , STR_DATE
        , END_DATE
        , USE_YN
        , SITE_ADMIN_CD
        , TEL_NO
        , GPS_RANGE
        , SITE_DESC
        , LAT
        , LON
        , INSERT_NO
        , INSERT_DATE
        , UPDATE_NO
        , UPDATE_DATE
    )
    VALUES (
        #{siteCd}
        , COALESCE(NULLIF(#{siteNo}, ''), #{siteCd}) 
		, #{siteNm}
		, #{gvCmpnyCd}
		, #{addr1}
		, #{addr2}
		, #{zipCode}
		, REPLACE(#{strDate}, '-', '')
        , CASE 
        	WHEN #{useYn} = 'Y' 
        		THEN NULL 
    		ELSE 
				DATE_FORMAT(NOW(), '%Y%m%d') 
		END
		, #{useYn}
		, #{siteAdminCd}
		, REPLACE(#{telNo}, '-', '')
        , #{gpsRange}
		, #{siteDesc}
		, #{lat}
		, #{lon}
		, #{gvUserCd}
		, NOW()
        , #{gvUserCd}
		, NOW()
    ) AS NEW
    ON DUPLICATE KEY UPDATE
	    SITE_NO         = NEW.SITE_NO
	    , SITE_NM         = NEW.SITE_NM
	    , ADDR_1          = NEW.ADDR_1
	    , ADDR_2          = NEW.ADDR_2
	    , ZIP_CODE        = NEW.ZIP_CODE
	    , STR_DATE        = NEW.STR_DATE
	    , END_DATE        = NEW.END_DATE
	    , USE_YN          = IFNULL(NEW.USE_YN, 'Y')
	    , SITE_ADMIN_CD   = NEW.SITE_ADMIN_CD
	    , TEL_NO          = NEW.TEL_NO
	    , GPS_RANGE       = NEW.GPS_RANGE
	    , SITE_DESC       = NEW.SITE_DESC
	    , LAT             = NEW.LAT
	    , LON             = NEW.LON
	    , UPDATE_NO       = NEW.UPDATE_NO
	    , UPDATE_DATE     = NEW.UPDATE_DATE
	</insert>
	
	<insert id="mergeMasterSiteAuthSet" parameterType="com.prafta.web.baim.baim01.application.command.MasterSiteAuthSetCommand">
	/* Baim01Mapper.mergeMasterSiteAuthSet */
	INSERT INTO TB_USER_SITE_AUTH (
		CMPNY_CD
		, USER_CD
		, SITE_CD
		, USE_YN
		, INSERT_NO
		, INSERT_DATE
		, UPDATE_NO
		, UPDATE_DATE
	)
	SELECT 
		A.CMPNY_CD
	    , A.USER_CD
	    , #{siteCd} AS SITE_CD
	    , 'Y' AS USE_YN
	    , #{gvUserCd}
	    , NOW()
	    , #{gvUserCd}
	    , NOW()
	FROM TB_USER A
	WHERE A.CMPNY_CD = #{cmpnyCd} /* PRAFTA-042 H-2: 테넌트 격리 - 동일 회사 사용자로 한정 */
	  AND AUTH_CD IN ('master', 'hr', 'safe', 'system') /* PRAFTA-042-4: 전사 접근 역할 + 시스템 관리자 계정 */
	ON DUPLICATE KEY UPDATE
		USE_YN 			= VALUES(USE_YN)
		, UPDATE_NO 	= VALUES(UPDATE_NO)
		, UPDATE_DATE 	= VALUES(UPDATE_DATE)
	</insert>
</mapper>